<div>
  <hr />
  <h4>Delete {{data.type.value}} {{ data.content.title }} </h4>

  <div>
    <mat-form-field color="primary" appearance="outline" class="fullWidth">
      <mat-label>{{ text.get('reason') }}</mat-label>
      <textarea
        matInput
        #note
        style="height: 200px; overflow-y: scroll"
        [formControl]="reasonControl"
        required
      ></textarea>
      <mat-error *ngIf="reasonControl.hasError('required')"
        >Reason <strong>required</strong></mat-error
      >
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-end">
    <button mat-raised-button class="cancel mr-2" (click)="onCancel()">
      {{ text.get('cancel') }}
    </button>
    <button
      mat-raised-button
      class="m-1"
      color="primary"
      style="color:#fff"
      (click)="onSubmit()"
    >
      {{ text.get('submit') }}
    </button>
  </div>
</div>
