/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css?family=Cinzel|Asap+Condensed|Source+Sans+Pro');

body {
  background-color: #eee !important;
  width: 100%;
  overflow-x: hidden;
}
h2 {
  font-family: 'Asap', sans-serif;
  color: #333;
}
h1,
h2,
p,
a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}
.statusopen {
  color: green;
}

.statusclosed {
  color: #888;
}

.statusdenied {
  color: #dd090a;
}

.styledFont {
  font-family: 'Asap Condensed', sans-serif;
  letter-spacing: 1px;
}
.slantedText {
  color: #ccc;
  font-style: oblique;
}
.cinzel {
  font-family: 'Cinzel', sans-serif;
}
.panel-heading {
  padding: 10px;
  color: #fff;
  text-align: center;
}
.panelIcon {
  padding-left: 20px;
  float: left;
  font-size: 28px;
}
.panel-stat {
  margin-right: 15px;
  float: right;
}
button:focus {
  outline: none !important;
}
.dash-container {
  height: calc(100vh - 129px);
}
.side-drawer {
  height: 100%;
}
.wrapper {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
  margin-top: 115px;
}
// Content Tab Styles
.manager-avatar {
  background-color: #ffc107;
}
.worker-avatar {
  background-color: #4dd0e1;
}

$theme-colors: (
  'light': hsl(0, 0%, 97%),
  'primary': #17a2b8,
  'secondary': #006ec7,
  'success': #2cafaa,
  'danger': #dd090a,
  'warning': #ffc107,
  'info': #70b6d3,
  'white': #ffffff,
  'dark': #002d56,
  'muted': #d6d7d6,
  'body': #888
);
@import 'node_modules/bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-cyan, 300, 100);
$my-app-accent: mat-palette($mat-light-blue, 500);
$my-app-warn: mat-palette($mat-amber, 500, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

.mat-raised-button.mat-accent {
  background-color: #5691cc;
}

.mat-raised-button.cancel {
  background-color: lightgrey;
}

.calendar-create-date {
    border-color: lightgreen;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
}

.calendar-due-date {
  border-color: red;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
}
