<h2 style="color: #002D56;">{{ text.get('documents') }}</h2>
<hr />
<p class="slantedText" *ngIf="documents.length == 0">
  {{ text.get('no_documents_to_display') }}
</p>
<div *ngIf="documents" class="notes-wrapper">
  <div class="container-fluid instr-container p-1 mb-1" *ngFor="let resource of documents">
    <div class="item-container d-flex justify-content-between">

      <div class="col">
        <div class="text ml-3">
          <span class="instr-title mr-2">{{ text.get('title') }}:</span>
          <span class="text">{{ resource.title }}</span>
        </div>
        <div class="text ml-3">
          <span class="instr-title mr-2 mt-2">{{ text.get('description') }}:</span>
          <span class="text" [innerHTML]="resource.description"></span>
        </div>
      </div>
      <div class="col ml-auto">
        <div class="instr-date">
          Uploaded {{ resource.createDate | date }}
          by {{ resource.creator.firstName }} {{ resource.creator.lastName }}
        </div>
      </div>
      <div class="btn-div">
        <div *ngIf="resource.editable">
          <button mat-raised-button color="accent" (click)="download(resource)">
            <mat-icon>cloud_download</mat-icon>
          </button>
        </div>
      </div>


    </div>
    <hr />
  </div>
</div>
