<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav-content>
      <div class="p-3" *ngIf="request">
        <div class="request-card">
          <mat-tab-group
            backgroundColor="primary"
            color="warn"
            mat-stretch-tabs
            *ngIf="request"
            (selectedTabChange)="tabChange($event)"
            [(selectedIndex)]="selectedIndex"
          >
            <mat-tab label="infoTab" style="color: #fff!important;">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">assignment</mat-icon>
                {{ text.get('request') }}
              </ng-template>
              <app-requestor-info-tab
                [request]="request"
              ></app-requestor-info-tab>
            </mat-tab>

            <mat-tab label="responseTab">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">description</mat-icon>
                {{ text.get('response') }}
              </ng-template>
              <app-requestor-content-tab
                [request]="request"
              ></app-requestor-content-tab>
            </mat-tab>

            <mat-tab label="communicationsTab" *ngIf="hasEmail">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">chat</mat-icon>
                {{ text.get('communications') }}
              </ng-template>
              <app-requestor-communications-tab
                [status]="request.status"
                [request]="request"
              ></app-requestor-communications-tab>
            </mat-tab>
          </mat-tab-group>
          <div class="d-flex align-items-end">
            <p style="font-style: oblique; color:#ccc;">
              *{{ text.get('signed_in_as_requestor') }}
            </p>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
