<div class="container-fluid login-body">
  <div class="row">
    <div class="col login-box">
      <div class="login-logo img-fluid" (click)="goHome()"></div>
      <p class="login-title"> {{ constants.config.entityName }} {{ constants.config.appName}}</p>
      <div *ngIf="usernameOrPassWrong" class="d-flex justify-content-center">
        <label class="login-error">Incorrect username or password</label>
      </div>
      <form>
        <div class="row">
          <div class="col">
            <input
              placeholder="username"
              type="text"
              name="Username"
              [(ngModel)]="username"
              autocomplete="username"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              placeholder="password"
              type="password"
              name="Password"
              autocomplete="current-password"
              [(ngModel)]="password"
              (keydown)="onKeyEnter($event)"
            />
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col" style="text-align: center;">
          <div class="btn btn-default login-btn btn-primary" (click)="login()">
            {{ text.get('sign_in') }}
          </div>
          <p class="back-to-home p-3" (click)="goHome()">Back to Home</p>
        </div>
      </div>
    </div>
  </div>
</div>
