.login-body {
  // background-image: url('../../../assets/images/andreas-selter-332635-unsplash.jpg');
  // height: 100vh;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: #efefef;
}
.login-title {
  text-align: center;
  text-transform: uppercase;
  color: #888;
  font-size: 18px;
  margin: 30px;
  letter-spacing: 4px;
}
.login-box {
  margin: auto;
  background-color: #fff;
  max-width: 500px;
  top: 50%;
  transform: translateY(50%);
  min-height: 475px;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
}
.login-logo {
  background-image: url('/assets/images/logo.png');
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
}
.login-logo:hover {
  cursor: pointer;
}
.login-box input {
  height: 40px;
  border: none;
  background-color: #eee;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  outline: none;
  border-bottom: 2px solid #eee;
  transition: ease-in-out border 0.2s;
}
.login-box input:focus {
  border-bottom: 2px solid #2f8caf;
}
.login-btn {
  width: 200px;
  border: none;
  color: #fff;
  margin-top: 20px;
  transition: ease-in-out 0.2s;
}

.login-error {
  color: red;
}

.back-to-home {
  cursor: pointer;
  color: #2f8caf;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.back-to-home:hover {
  color: #002d56;
  transition: all 0.2s ease-in-out;
}
