<h2 mat-dialog-title style="text-align: center;">Document Upload</h2>
<div mat-dialog-content>
  <div *ngIf="!fileData" (drop)="onDrop($event)" (dragover)="onDrag($event)" (dragenter)="onDragEnter($event)"
    (dragleave)="onDragleave()" class="dropzone" [ngClass]="dragenter ? 'dropzone-disabled' : 'dropzone-ready'">
    <div class="dropzone-contents">
      <i class="material-icons dropzone-i"> cloud_upload </i>
      <p class="dropzone-title">Drag & Drop</p>
      <div class="sub-text">
        Your files here, or

        <button (click)="fileInput.click()" type="button" mat-stroked-button color="accent" style="color: #006ec7;">
          Choose File
        </button>
        <input (change)="onFileSelected($event.target.files)" hidden #fileInput type="file" id="file" />
      </div>
    </div>
  </div>

  <div *ngIf="fileData" class="container-fluid">
    <p *ngIf="!hasEmail">
      The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method. Please use this method in to provide this document
      to the requestor. <strong> NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
    </p>

    <div style="padding: 25px; margin: 30px 10px; background-color: #F9F9F9">
      <div class="d-flex justify-content-start">
        <i class="material-icons file-icon">
          insert_drive_file
        </i>
        <p class="file-name ml-1">
          {{ fileData.name }}
          <br />
          <span class="file-size">{{ fileData.size / 1024 | number: '1.1-2' }}KB</span><br />
          <span *ngIf="!legalFileSize" class="file-warning">File upload limit exceeded</span>
        </p>
      </div>
      <mat-form-field color="primary" style="width: 50%; margin: 10px 50px;">
        <mat-label>{{ text.get('title') }}</mat-label>
        <input #titleInput matInput required [formControl]="titleControl" />
        <mat-error *ngIf="titleControl.hasError('required')">{{ text.get('title') }}<strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="!basic">


      <mat-form-field appearance="outline" class="fullWidth">
        <mat-label>{{ text.get('description') }}</mat-label>
        <textarea #fileDescription matInput></textarea>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="needsReview">Needs Legal Review</mat-checkbox>
      <mat-form-field *ngIf="needsReview" appearance="outline" class="fullWidth">
        <mat-label>Reason / Comment</mat-label>
        <textarea #legalComment matInput></textarea>
      </mat-form-field>
      <mat-form-field class="mt-1" style="width: 50%; display: block;">
        <mat-label>{{ text.get('release_type') }}</mat-label>
        <mat-select (selectionChange)="updateReleaseType($event)" [formControl]="releaseTypeControl" required>
          <mat-option *ngFor="let releaseType of releaseTypes" [value]="releaseType">{{
            releaseType.value
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="releaseTypeControl.hasError('required')">Please choose Release Type</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<hr />
<div mat-dialog-actions class="d-flex justify-content-end m-1">
  <button (click)="onNoClick()" type="button" mat-raised-button class="cancel mr-2">
    {{ text.get('cancel') }}
  </button>
  <button mat-button *ngIf="!legalFileSize" (click)="clearFiles()" type="button">
    Choose Another File
  </button>
  <button *ngIf="fileData" (click)="uploadFile()" [disabled]="!legalFileSize" type="button" mat-raised-button
    color="accent" style="color: #fff;">
    Upload File
  </button>
</div>
