<div class="container-fluid p-4">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="tab-title styledFont">{{ text.get('all_workers_assigned') }}</h4>
          <steele-table
            [headers]="headers"
            [rows]="rows"
            [pagination]="true"
            [pageSize]="5"
          ></steele-table>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <h4 class="tab-title styledFont">{{ text.get('assign_department_workers') }}</h4>
          <app-multi-stack-box-selector
            *ngIf="selectorItems && selectedItems"
            placeholder="Select Staff"
            [allSelectableItems]="selectorItems"
            [originalItems]="originalItems"
            [selectedItems]="selectedItems"
            (boxesChange)="onBoxesChange($event)"
          ></app-multi-stack-box-selector>
        </div>
      </div>
      <div>
        <hr />
        <div class="d-flex justify-content-end" *ngIf="changesMade">
          <button mat-raised-button color="primary" style="color: #fff;" (click)="saveChanges()">
            {{ text.get('save') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
