<div *ngIf="request">
  <h1 mat-dialog-title>Extend Date</h1>

  <div mat-dialog-content>
    <mat-form-field class="fullWidth" appearance="outline" *ngIf="dateVisible">
      <mat-label>Extended Date</mat-label>
      <input
        matInput
        [min]="minDate"
        [formControl]="dateControl"
        [matDatepicker]="picker"
        placeholder="Enter Date"
        required
        [matDatepickerFilter]="dateFilter"
        (dateChange)="updateTemplate($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" [startAt]="startAt" #picker></mat-datepicker>
      <mat-error *ngIf="dateControl.hasError('required')">
        Date is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="dateControl.hasError('forbiddenDate')">
        Select a  <strong>different</strong> date
      </mat-error>
    </mat-form-field>
    <!-- <p *ngIf="dateError" style="color: #dd090a;" class="ml-2">
      Input Date Required
    </p> -->
    <hr />

    <div [innerHTML]="header" *ngIf="hasEmail; else noEmail"></div>

    <ng-template #noEmail>
      <p>The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method.

        You must respond in the format requested and only click confirm once the document has been sent.
      </p>

      <p>
        Please click <a target="_blank" href="/assets/{{ request.extensionStatus.code ==='NON' ? 'Template_3-day_letter.docx' : 'Template_Burdensome_Letter.docx' }}">
        here</a> for a template
      </p>
    </ng-template>

    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Reason for Extension</mat-label>
      <textarea matInput #note [formControl]="noteControl"></textarea>
    </mat-form-field>

    <div [innerHTML]="footer" *ngIf="hasEmail"></div>
    <hr />
    <div class="d-flex justify-content-end" *ngIf="hasEmail; else confirm">
      <button mat-raised-button class="cancel mr-2" (click)="onNoClick()">{{ text.get('cancel') }}</button>
      <button
        (click)="extendDate()"
        mat-raised-button
        color="primary"
        style="color: #fff"
      >
        {{ text.get('ok') }}
      </button>
    </div>
    <ng-template #confirm>
        <div class="d-flex justify-content-end">
        <button mat-raised-button class="cancel mr-2" (click)="onNoClick()">{{ text.get('cancel') }}</button>
        <button
          (click)="extendDate()"
          mat-raised-button
          color="primary"
          style="color: #fff"
        >
          {{ text.get('confirm_sent') }}
        </button>
      </div>

    </ng-template>
  </div>
</div>
