<div class="container-fluid">
  <h2 style="color: #002D56;">Warning: Incomplete Response</h2>
  <div *ngIf="depts.length > 0">
     <p>The following department(s) have incomplete responses:</p>
     <ul>
       <li *ngFor="let dept of depts">{{ dept.name }}</li>
     </ul>
  </div>
  <hr />
  <div class="d-flex justify-content-end p-2">
    <button (click)="onNoClick()" mat-raised-button class="cancel mr-2">{{ text.get('cancel') }}</button>
    <button (click)="confirmClose()" mat-raised-button color="primary" style="color: #fff;">
      {{ text.get('ok') }}
    </button>
  </div>
</div>
