<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened>
      <app-super-sidebar active="deptMgt"></app-super-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="p-3">
      <div class="d-flex">
        <div class="p-2">
          <h1>{{ text.get('department_management') }}</h1>
        </div>
        <div class="ml-auto p-2">
          <button
            mat-raised-button
            color="primary"
            style="color: #fff;"
            (click)="openAddDepartmentDialog()"
          >
            <mat-icon class="mr-1">add_circle</mat-icon>
            Add Department
          </button>
        </div>
      </div>

      <div class="container-fluid">
        <div *ngIf="loaded">
          <div
            class="userRow d-flex align-self-center"
            *ngFor="let dept of departments"
            (click)="openEditDepartmentDialog(dept)"
          >
            <div class="col-md-4">
              <h4 style="color:#002d56;">{{ dept.name }}</h4>
            </div>
            <div class="col" style="font-size: 18px;">
              <i class="fas fa-user-tie mr-2 manager deptIcon"></i>
              Department Managers ({{ getTotalManagers(dept.staff) }})
            </div>
            <div class="col" style="font-size: 18px;">
              <i class="fas fa-users mr-2 fa-2x worker deptIcon"></i>
              Workers ({{ getTotalWorkers(dept.staff) }})
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
