<app-header page="newRequest"></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened>
      <app-staff-sidebar active="newRequest"></app-staff-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="p-3">
      <div *ngIf="!submitted" class="col-md-8">
        <h1>Staff New Request</h1>
        <p>
          {{ text.get('staff_new_request_paragraph_1') }}
        </p>
        <p>
          {{ text.get('staff_new_request_paragraph_2') }}
        </p>
        <p>
          {{ text.get('staff_new_request_paragraph_3') }}
        </p>
      </div>

      <!-- Start of Stepper -->
      <ng-template #stepperForm>
        <div class="stepper-container">
          <mat-horizontal-stepper (selectionChange)="onSelectionChange($event)" #stepper linear>
            <mat-step [stepControl]="firstFormGroup" optional="false">
              <ng-template matStepLabel>{{
                text.get('about_the_request')
              }}</ng-template>

              <app-about-request
                (stepperNext)="firstFormStepperNext($event)"
                [formGroup]="firstFormGroup"
              ></app-about-request>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" optional="false">
              <ng-template matStepLabel>{{
                text.get('requestor_information')
              }}</ng-template>
              <app-requestor-information
                (stepperNext)="secondFormStepperNext($event)"
                [(formGroup)]="secondFormGroup"
              ></app-requestor-information>
            </mat-step>

            <mat-step
              [stepControl]="departmentAssignmentGroup"
              optional="false"
            >
              <ng-template matStepLabel>Department Assignment</ng-template>
              <app-department-assignment-step
                (stepperNext)="departmentAssignmentNext($event)"
                [(formGroup)]="departmentAssignmentGroup"
                [(primaryDepartment)]="primaryDepartment"
                [(secondaryDepartments)]="secondaryDepartments"
                [(assignDepartment)]="assignDepartment"
                onBoxesChange="onBoxesChange"
              ></app-department-assignment-step>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <ng-template matStepLabel>{{
                text.get('request_documents')
              }}</ng-template>
              <div class="d-flex justify-content-end">
                <button
                  (click)="openUploadDialog()"
                  mat-raised-button
                  color="accent"
                  style="color: #fff;"
                >
                  <mat-icon class="mr-2">arrow_upwards</mat-icon>
                  {{ text.get('upload_document') }}
                </button>
              </div>
              <h2 style="color: #002D56;">
                {{ text.get('request_documents') }}
              </h2>
              <div class="mt-1">
                <steele-table
                  [headers]="headers"
                  [rows]="fileDataList"
                  (action)="tableEvent($event)"
                ></steele-table>
              </div>
              <hr />
              <div style="text-align: right;">
                <button
                  mat-flat-button
                  class="mr-2"
                  color="warn"
                  style="color:#fff;"
                  matStepperPrevious
                >
                  <mat-icon class="ml-1">keyboard_arrow_left</mat-icon>
                  {{ text.get('back') }}
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  matStepperNext
                  style="color:#fff;"
                >
                  {{ text.get('next') }}
                  <mat-icon class="ml-1">keyboard_arrow_right</mat-icon>
                </button>
              </div>
            </mat-step>
            <mat-step style="text-align: center;">
              <ng-template matStepLabel>{{ text.get('submit') }}</ng-template>

              <ng-template #submit>
                <div>
                  <h2>{{ text.get('review_information') }}</h2>
                  <p style="font-style: oblique; color:#888;">
                    {{ text.get('review_information_paragraph') }}
                  </p>
                  <p *ngIf="backendValidationError" class="p-2 mb-3 warnP">{{ text.get('invalid_email_2') }}</p>
                  <hr />
                  <h4 style="font-size: 18px;">
                    {{ text.get('about_the_request') }}
                  </h4>
                  <p>
                    <span class="boldP">{{ text.get('title') }}</span
                    >: {{ this.title }}
                  </p>
                  <p>
                    <span class="boldP">{{ text.get('description') }}</span
                    >: <span [innerHTML]="this.description"></span>
                  </p>
                  <hr />
                  <div class="row">
                    <div class="col">
                      <h4 style="font-size: 18px;">
                        {{ text.get('requestor_information') }}
                      </h4>
                      <p>
                        <span class="boldP">{{ text.get('name') }}</span
                        >: {{ this.firstName }} {{ this.lastName }}
                      </p>
                      <p>
                        <span class="boldP">{{ text.get('email') }}</span
                        >: {{ this.email }}
                      </p>
                      <p>
                        <span class="boldP">{{ text.get('phone') }}</span
                        >: {{ this.phone }}
                      </p>
                      <p>
                        <span class="boldP">{{ text.get('fax') }}</span
                        >: {{ this.fax }}
                      </p>
                      <p>
                        <span class="boldP">{{ text.get('address') }}</span
                        >: {{ address
                        }}<span *ngIf="address2"> {{ address2 }}</span
                        >, {{ this.city }},
                        {{ this.state }}
                        {{ this.zip }}
                      </p>
                    </div>
                    <div class="col">
                      <h4 style="font-size: 18px;">
                        Assignment
                      </h4>
                      <div *ngIf="primaryDepartment; else assignText">
                        <h4 style="color: #2196f3">
                          {{ text.get('primary_department') }}:
                        </h4>

                        <p>
                          {{ this.primaryDepartment.name }}
                        </p>

                        <h4 style="color: #2196f3">
                          {{ text.get('secondary_departments') }}:
                        </h4>
                        <p *ngFor="let dept of secondaryDepartments">
                          {{ dept.name }}
                        </p>
                      </div>
                      <ng-template #assignText>
                        <p>Assignment Queue</p>
                      </ng-template>
                    </div>
                    <div class="col">
                      <h4 style="font-size: 18px;">
                        Files to Upload
                      </h4>
                      <div *ngIf="fileDataList.length > 0; else noFiles">
                        <div *ngFor="let f of fileDataList">
                          <p>{{ f.fileData.name }}</p>
                        </div>
                        <ng-template #noFiles>
                          <p class="slantedText">No files to upload</p>
                        </ng-template>
                      </div>
                    </div>
                  </div>

                  <hr />

                  <div style="margin: 30px; text-align: center;">
                    <button
                      style="color:#fff;"
                      class="submitBtn align-middle"
                      mat-raised-button
                      color="primary"
                      (click)="submitRequest()"
                    >
                      {{ text.get('submit_request') }}
                      <i class="material-icons align-middle ml-2">check</i>
                    </button>
                  </div>
                </div>
              </ng-template>
              <button
                *ngIf="inProcess; else submit"
                class="submitBtn"
                mat-raised-button
                color="primary"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                {{ text.get('processing') }} ({{ percent }}%)
              </button>
              <div *ngIf="inProcess">
                <div *ngFor="let f of fileDataList" class="fileUploadRow">
                  <div class="d-flex align-items-center col-md-4">
                    <i
                      [ngStyle]="{
                        color:
                          f.status === 'done' || f.status === 'Finishing Up...'
                            ? '#4dd0e1'
                            : '#ccc'
                      }"
                      class="far fa-file fa-3x col-xs-1"
                    ></i>

                    <div class="col">
                      <p class="boldP m-1">
                        {{ f.fileData.name }}
                      </p>
                      <mat-progress-bar
                        *ngIf="f.status === 'waiting'"
                        mode="buffer"
                      ></mat-progress-bar>
                      <mat-progress-bar
                        *ngIf="f.status !== 'waiting'"
                        mode="determinate"
                        [value]="f.progress"
                      ></mat-progress-bar>
                      <p class="slantedText m-1">({{ f.status }})</p>
                    </div>

                    <hr />
                  </div>
                </div>
              </div>
              <hr />
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </ng-template>

      <!-- Template for processing request  -->
      <div
        *ngIf="submitted; else stepperForm"
        class="report-sent row p-3 col-md-8"
      >
        <h1>{{ text.get('request_created') }}!</h1>
        <p>
          {{ text.get('new_request_successfully_submitted') }}
        </p>
        <button
          mat-raised-button
          color="primary"
          (click)="changeRoute()"
          style="color:#fff;"
        >
          {{ text.get('ok') }}
        </button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
