.stepper-form {
  min-width: 150px;
  width: 100%;
  min-height: 350px;
}
.fullInputWidth {
  width: 100%;
}
.tinyInput {
  width: 20%;
}
.stepper-container {
  -webkit-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  max-width: 1600px;
  margin: 25px auto;
}
.report-sent {
  background-color: #fff;
  margin: auto;
  border-radius: 4px;
  padding: 40px;
  border: 1.5px solid #e8e8e8;
}
.submitBtn {
  height: 46px;
  width: 200px;
  font-size: 18px;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.boldP {
  color: #002d56;
  -webkit-text-stroke: 0.4px #002d56;
}
.fileUploadRow {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.warnP {
  background-color: #ef9a9a;
  border: 1px solid #ef5350;
  border-radius: 0.25rem;
  font-weight: bold;
}
