<div mat-dialog-content>
  <h1 mat-dialog-title>Wrong Government Entity</h1>

  <div mat-dialog-content>
    <p *ngIf="!hasEmail">
      The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method.
      Please use this method in to provide a letter notifying them of this denial to the requestor
      <strong> NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
    </p>

    <div>
      <hr />
      <h1 mat-dialog-title>Select government entity</h1>
      <mat-form-field appearance="outline" class="fullInputWidth">
        <mat-label>Select Entity</mat-label>

        <mat-select [(value)]="selectedEntity" (selectionChange)="selectionChange($event)">
          <mat-option *ngFor="let entity of entities" [value]="entity.id">
            {{ entity.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fullInputWidth">
        <mat-label>{{ text.get('name') }}</mat-label>
        <input matInput [formControl]="nameControl" required />
        <mat-error *ngIf="nameControl.hasError('required')">{{
        text.get('please_enter_name')
      }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fullInputWidth">
        <mat-label>{{ text.get('email') }}</mat-label>
        <input matInput [formControl]="emailControl" required />
        <mat-error *ngIf="emailControl.hasError('required')">{{
        text.get('please_enter_email')
      }}</mat-error>
        <mat-error *ngIf="emailControl.hasError('email')">{{
        text.get('invalid_email')
      }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-raised-button class="cancel mr-2" (click)="cancel()">
      {{ text.get('cancel') }}
    </button>
    <button mat-raised-button class="m-1" color="primary" style="color:#fff" (click)="submitWrongCustodian()">
      {{ text.get('submit') }}
    </button>
  </div>

</div>
