<div class="dialog-header d-flex align-items-center">
  <div class="avatar">{{ staff.firstName.charAt(0) }}{{ staff.lastName.charAt(0) }}</div>
  <div class="ml-4">
    <h4>{{ staff.firstName }} {{ staff.lastName }}</h4>
    <p>{{ staff.role }}</p>
  </div>
</div>

<mat-dialog-content>
  <mat-tab-group mat-stretch-tabs class="mt-4" (selectedTabChange)="onTabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">person</mat-icon>
        User Information
      </ng-template>
      <form [formGroup]="formGroup">
        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <input #firstName matInput placeholder="{{ text.get('first_name') }}" />
          </mat-form-field>
          <mat-form-field class="p-3 halfWidth">
            <input #lastName matInput placeholder="{{ text.get('last_name') }}" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <input #username matInput placeholder="Username" />
          </mat-form-field>
          <mat-form-field class="p-3 halfWidth">
            <input matInput placeholder="{{ text.get('email') }}" [formControl]="emailControl" />
          </mat-form-field>
        </div>
      </form>
      <div class="row">
        <mat-checkbox [(ngModel)]="externalAuth" class="p-3">{{
          text.get('use_external_authentication')
        }}</mat-checkbox>
      </div>
    </mat-tab>
    <mat-tab>
      <!-- *****************             GROUPS AND ROLES           *************-->
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">group</mat-icon>
        {{ text.get('groups_and_roles') }}
      </ng-template>

      <h2 mat-dialog-title>{{ text.get('groups') }}</h2>
      <app-multi-chip-selector
        [allItems]="allGroups"
        [selectedItems]="groupValues"
        (onSelectionChange)="groupSelectionChanged($event)"
      ></app-multi-chip-selector>
      <hr />

      <h2 mat-dialog-title>{{ text.get('roles') }}</h2>
      <form [formGroup]="formGroup">
        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <mat-select
              placeholder="Select Role"
              [(value)]="selectedRole"
              (selectionChange)="roleSelected($event)"
            >
              <mat-option *ngFor="let role of roles" [value]="role.code">
                {{ role.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <mat-select
              placeholder="{{ text.get('select_department') }}"
              [(value)]="selectedDepartment"
              (selectionChange)="departmentSelected($event)"
            >
              <mat-option *ngFor="let dept of departments" [value]="dept.id">
                {{ dept.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form></mat-tab
    >

    <!-- *****************          RESET PASSWORD & DELETE USER         *************-->

    <mat-tab label="Third">
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">lock</mat-icon>
        Login
      </ng-template>
      <div *ngIf="!popper" class="d-flex justify-content-around m-5 fadeIn">
        <button
          (click)="onOpenPopper()"
          type="button"
          mat-raised-button
          color="warn"
          style="color:#fff;"
        >
          <mat-icon class="mr-1">autorenew</mat-icon> {{ text.get('send_reset_password') }}
        </button>

        <button
          *ngIf="!staff.disabled"
          type="button"
          (click)="disableStaff()"
          mat-raised-button
          color="accent"
          style="color:#fff"
        >
          <mat-icon class="mr-1">block</mat-icon> Disable User
        </button>

        <button
          *ngIf="staff.disabled"
          type="button"
          (click)="enableStaff()"
          mat-raised-button
          color="accent"
          style="color:#fff"
        >
          <mat-icon class="mr-1">radio_button_unchecked</mat-icon> Enable User
        </button>
      </div>
      <div *ngIf="!popper" class="d-flex justify-content-around m-5 fadeIn">
        <button
          type="button"
          (click)="onOpenPopper()"
          mat-raised-button
          style="color:#fff; background-color:#dd090a;"
        >
          <mat-icon class="mr-1">delete</mat-icon> Delete User
        </button>
      </div>
      <div *ngIf="popper" class="popper fadeIn">
        <h2 mat-dialog-title>Confirmation</h2>
        <p>Are you sure?</p>
        <div class="d-flex align-items-end justify-content-end">
          <button type="button" mat-raised-button class="cancel mr-2" (click)="closePopper()">
            {{ text.get('cancel') }}
          </button>
          <button
            (click)="onConfirmPopper()"
            type="button"
            mat-raised-button
            color="primary"
            style="color:#fff"
          >
            {{ text.get('delete') }}
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<hr />
<div *ngIf="notOnLogin" align="end" class="d-flex justify-content-end m-1">
  <button (click)="onNoClick()" type="button" mat-raised-button class="cancel mr-2">
    {{ text.get('cancel') }}
  </button>
  <button
    (click)="updateStaff()"
    type="button"
    mat-raised-button
    color="accent"
    style="color: #fff;"
  >
    Update Staff
  </button>
</div>
