<h2 style="color: #002D56;">{{ text.get('links') }}</h2>
<hr />
<p class="slantedText" *ngIf="links.length == 0">
  {{ text.get('no_links_to_display') }}
</p>
<div *ngIf="links; else noInstructions" class="notes-wrapper">
  <div class="container-fluid instr-container p-1 mb-1" *ngFor="let link of links">
    <div class="item-container d-flex justify-content-between">
      <div class="col">
          <div class="text ml-3">
              <span class="instr-title mr-2">{{ text.get('title') }}:</span>
              <span class="text">{{ link.title }}</span>
            </div>
            <div class="text ml-3">
              <span class="instr-title mr-2 mt-2">{{ text.get('description') }}:</span>
              <span class="text" [innerHTML]="link.description"></span>
            </div>
            <div class="ml-3" style="font-style: oblique; display: block;">
              {{ text.get('go_to_link') }}:
              <span class="link" (click)="goToUrl(link.url)">{{ link.url }}</span>
            </div>
      </div>
      <div class="col ml-auto">
        <div class="instr-date">
          Added {{ link.createDate | date: 'short' }}
          by {{ link.creator.firstName }} {{ link.creator.lastName }}
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
<ng-template #noInstructions>
  <div class="noNotes">{{ text.get('no_links_to_display') }}</div>
</ng-template>
