<div class="container-fluid p-4">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="tab-title styledFont">{{ text.get('all_workers_assigned') }}</h4>
          <steele-table
            [headers]="headers"
            [rows]="rows"
            [pagination]="true"
            [pageSize]="5"
          ></steele-table>
        </div>
      </div>
    </div>
  </div>
</div>
