<div class="dialog-header d-flex align-items-center">
  <h4>{{ text.get('new_staff') }}</h4>
</div>

<mat-dialog-content>
  <mat-tab-group mat-stretch-tabs class="mt-4" (selectedTabChange)="onTabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">person</mat-icon>
        User Information
      </ng-template>
      <form [formGroup]="formGroup">
        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <input #firstName matInput placeholder="{{ text.get('first_name') }}" />
          </mat-form-field>
          <mat-form-field class="p-3 halfWidth">
            <input #lastName matInput placeholder="{{ text.get('last_name') }}" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <input #username matInput placeholder="Username" />
          </mat-form-field>
          <mat-form-field class="p-3 halfWidth">
            <input
              #email
              matInput
              placeholder="{{ text.get('email') }}"
              [formControl]="emailControl"
            />
          </mat-form-field>
        </div>
      </form>
      <div class="row">
        <mat-checkbox [(ngModel)]="externalAuth" class="p-3"
          >Use External Authentication</mat-checkbox
        >
      </div>
    </mat-tab>
    <mat-tab>
      <!-- *****************             GROUPS AND ROLES           *************-->
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">group</mat-icon>
        {{ text.get('groups_and_roles') }}
      </ng-template>

      <h2 mat-dialog-title>{{ text.get('groups') }}</h2>
      <app-multi-chip-selector
        [allItems]="groups"
        [selectedItems]="groupValues"
        (onSelectionChange)="groupSelectionChanged($event)"
      ></app-multi-chip-selector>
      <hr />

      <h2 mat-dialog-title>{{ text.get('roles') }}</h2>
      <form [formGroup]="formGroup">
        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <mat-select
              placeholder="Select Role"
              [(value)]="selectedRole"
              (selectionChange)="roleSelected($event)"
            >
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <mat-select
              placeholder="{{ text.get('select_department') }}"
              [(value)]="selectedDepartment"
              (selectionChange)="departmentSelected($event)"
            >
              <mat-option *ngFor="let dept of departments" [value]="dept.id">
                {{ dept.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form></mat-tab
    >
  </mat-tab-group>
</mat-dialog-content>

<hr />
<div align="end" class="d-flex justify-content-end m-1">
  <button (click)="onNoClick()" type="button" mat-raised-button class="cancel mr-2">
    {{ text.get('cancel') }}
  </button>
  <button
    (click)="updateStaff()"
    type="button"
    mat-raised-button
    color="accent"
    style="color: #fff;"
  >
    {{ text.get('new_staff') }}
  </button>
</div>
