<h2 style="color: #002D56;">{{ text.get('instructions') }}</h2>
<hr />
<p class="slantedText" *ngIf="instructions.length == 0">
  {{ text.get('no_instructions_to_display') }}
</p>
<div *ngIf="instructions; else noInstructions" class="notes-wrapper">
  <div
    class="container-fluid instr-container p-1 mb-1"
    *ngFor="let instruction of instructions"
  >
    <div class="item-container d-flex justify-content-between">
      <div class="col">
          <div class="text m-1">
              <span class="instr-title mr-2">{{ text.get('title') }}:</span>
              <span class="text">{{ instruction.title }}</span>
            </div>
            <div class="text m-1">
              <span class="instr-title mr-2">{{ text.get('message') }}:</span>
              <span class="text" [innerHTML]="instruction.message"></span>
            </div>
      </div>
      <div class="col ml-auto">
          <div class="text m-1">
              <span class="instr-title mr-2">{{ text.get('release_type') }}:</span>
              <span class="text">{{ instruction.releaseType.value }}</span>
            </div>
            <div class="instr-date m-1">
              Added {{ instruction.createDate | date: 'short' }}
              by {{ instruction.creator.firstName }} {{ instruction.creator.lastName }}
            </div>
      </div>
    </div>
  </div>
  <hr />
</div>
<ng-template #noInstructions>
  <div class="noNotes">
    {{ text.get('no_instructions_to_display') }}
  </div></ng-template
>
