<h1 mat-dialog-title style="color: #002D56;">{{ text.get('approve_document') }}</h1>
<div mat-dialog-content>
  <mat-form-field class="fullWidth mt-1">
    <mat-label>Release Type</mat-label>
    <mat-select
      [formControl]="releaseTypeControl"
      required
    >
      <mat-option *ngFor="let releaseType of releaseTypes" [value]="releaseType.code">{{
        releaseType.value
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="releaseTypeControl.hasError('required')">{{
      text.get('field_required')
    }}</mat-error>
  </mat-form-field>
  <hr />
  <div class="d-flex justify-content-end p-2">
    <button (click)="onNoClick()" mat-raised-button class="cancel mr-2">{{ text.get('cancel') }}</button>
    <button
      (click)="approveResource()"
      mat-raised-button
      color="primary"
      style="color: #fff;"
      class="ml-1"
    >
      {{ text.get('ok') }}
    </button>
  </div>
</div>
