<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav-content>
      <div class="p-3" *ngIf="request">
        <div class="request-card">
          <mat-tab-group
            backgroundColor="primary"
            color="warn"
            mat-stretch-tabs
            (selectedTabChange)="tabChange($event)"
            *ngIf="request"
          >
            <mat-tab label="infoTab" style="color: #fff!important;">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">assignment</mat-icon>
                {{ text.get('request') }}
              </ng-template>
              <app-public-info-tab [request]="request"></app-public-info-tab>
            </mat-tab>

            <mat-tab label="responseTab">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">description</mat-icon>
                {{ text.get('response') }}
              </ng-template>
              <app-public-content-tab [request]="request"></app-public-content-tab>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
