<mat-chip-list aria-label="Fish selection">
  <mat-chip
    *ngFor="let item of selectedItems"
    [removable]="true"
    color="accent"
    style="color: #fff; background-color: #00bcd4;"
    >{{ item.value }} <mat-icon matChipRemove (click)="removeChip(item)">cancel</mat-icon></mat-chip
  >
</mat-chip-list>
<mat-form-field class="m-2" *ngIf="availableItems.length > 0" style="width: 50%;">
  <mat-select
    placeholder="{{ text.get('add_group') }}"
    [(value)]="selectedItem"
    (selectionChange)="itemSelected($event)"
  >
    <mat-option *ngFor="let item of availableItems" [value]="item">
      {{ item.value }}
    </mat-option>
  </mat-select>
</mat-form-field>
