.stepper-form {
  min-width: 150px;
  width: 100%;
}
.fullInputWidth {
  width: 100%;
}
.halfWidth {
  width: 50%;
}
.tinyInput {
  width: 20%;
}
.stepper-container {
  -webkit-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  max-width: 1600px;
  margin: auto;
}
.report-sent {
  background-color: #fff;
  margin: auto;
  border-radius: 4px;
  padding: 40px;
  border: 1.5px solid #e8e8e8;

}
.boldP {
  color: #002d56;
  -webkit-text-stroke: 0.4px #002d56;
}

.warnP {
  background-color: #ef9a9a;
  border: 1px solid #ef5350;
  border-radius: 0.25rem;
  font-weight: bold;
}
