<app-header page="newRequest"></app-header>
<div class="container-fluid p-5">
  <div class="row">
  </div>
  <div *ngIf="submitted; else stepper" class="report-sent row col-md-8">
    <h1>{{ text.get('request_created') }}!</h1>
    <p style="font-size: 18px;">
      {{ text.get('new_request_successfully_submitted') }}
    </p>
    <button
      mat-raised-button
      color="accent"
      style="color:#fff;"
      (click)="changeRoute('home')"
      class="mr-2"
    >
      {{ text.get('home') }}
    </button>
    <button
      mat-raised-button
      color="primary"
      style="color:#fff;"
      (click)="changeRoute('dac')"
    >
      {{ text.get('dona_ana_county') }}
    </button>
  </div>
  <ng-template #stepper>
    <div class="stepper-container">
      <mat-horizontal-stepper
      (selectionChange)="onSelectionChange($event)"
      linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" class="stepper-form">
            <div class="row">
              <ng-template matStepLabel>{{
                text.get('about_your_request')
              }}</ng-template>
              <div class="m-3 fullInputWidth">
                <h1>{{ text.get('overview') }}</h1>
              <div style="font-size: 18px;" [innerHTML]="text.get('public_new_request_paragraph')"></div>
            </div>
              <mat-form-field class="m-3 fullInputWidth" appearance="outline">
                <mat-label>{{ text.get('request_title') }}</mat-label>
                <input #title matInput formControlName="title" required />
                <mat-error
                  *ngIf="firstFormGroup.get('title').hasError('required')"
                  >{{ text.get('field_required') }}</mat-error
                >
              </mat-form-field>

              <div class="m-3 fullInputWidth">
                <p style="font-size: 18px;">{{ text.get('new_request_description_warning_ext') }}</p>
              </div>

              <mat-form-field class="m-3 fullInputWidth" appearance="outline">
                <mat-label>{{ text.get('request_description') }}</mat-label>
                <textarea
                  style="height: 400px; overflow-y: scroll"
                  #description
                  matInput
                  formControlName="description"
                  required
                ></textarea>
                <mat-error
                  *ngIf="firstFormGroup.get('description').hasError('required')"
                  >{{ text.get('field_required') }}</mat-error
                >
              </mat-form-field>
            </div>
          </form>

          <hr />
          <div style="text-align: right;">
            <button
              mat-flat-button
              color="primary"
              style="color:#fff;"
              matStepperNext
            >
              {{ text.get('next') }}
              <mat-icon class="ml-1">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" class="stepper-form">
            <ng-template matStepLabel>{{ text.get('about_you') }}</ng-template>
            <div class="col-md-8">
              <p style="font-style: oblique; color:#888;">
                {{ text.get('about_you_paragraph_1') }}
              </p>
            </div>

            <mat-form-field class="p-3 halfWidth" appearance="outline">
              <mat-label>{{ text.get('first_name') }}</mat-label>
              <input
                #firstName
                matInput
                placeholder="{{ text.get('first_name') }}"
                formControlName="firstName"
                required
              />
              <mat-error
                *ngIf="secondFormGroup.get('firstName').hasError('required')"
                >{{ text.get('field_required') }}</mat-error
              >
            </mat-form-field>

            <mat-form-field class="p-3 halfWidth" appearance="outline">
              <mat-label>{{ text.get('last_name') }}</mat-label>

              <input
                #lastName
                matInput
                placeholder="{{ text.get('last_name') }}"
                formControlName="lastName"
                required
              />
              <mat-error
                *ngIf="secondFormGroup.get('lastName').hasError('required')"
                >{{ text.get('field_required') }}</mat-error
              >
            </mat-form-field>

            <mat-form-field class="fullInputWidth p-3" appearance="outline">
              <mat-label>{{ text.get('email') }}</mat-label>
              <input
                matInput
                placeholder="{{ text.get('email') }}"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="secondFormGroup.get('email').hasError('required')"
                >{{ text.get('field_required') }}</mat-error
              >
              <mat-error
                *ngIf="secondFormGroup.get('email').hasError('email')"
                >{{ text.get('invalid_email') }}</mat-error
              >
            </mat-form-field>

            <mat-form-field class="fullInputWidth p-3" appearance="outline">
              <mat-label>{{ text.get('secondary_emails') }}</mat-label>
              <input
                matInput
                placeholder="{{ text.get('secondary_emails') }}"
                formControlName="secondary_emails"
              />
              <mat-error
                *ngIf="secondFormGroup.get('secondary_emails').hasError('invalidEmailList')"
              >
                Please enter a valid list of emails separated by commas.
              </mat-error>
            </mat-form-field>

            <mat-form-field class="p-3 halfWidth" appearance="outline">
              <mat-label>{{ text.get('phone') }}</mat-label>
              <input
                #phoneNumber
                matInput
                placeholder="{{ text.get('phone') }}"
                formControlName="phone"
                maxlength="12"
                (keydown)="onKeyDown($event)"
                required
              />
              <mat-error
                *ngIf="secondFormGroup.get('email').hasError('required')"
                >{{ text.get('field_required') }}</mat-error
              >
              <mat-error
                *ngIf="secondFormGroup.get('phone').hasError('pattern')"
                >{{ text.get('invalid_format_phone') }}</mat-error
              >
            </mat-form-field>
          </form>
          <hr />
          <form [formGroup]="secondFormGroup" class="stepper-form">
            <mat-form-field class="fullInputWidth p-3" appearance="outline">
              <mat-label>{{ text.get('address_line_1') }}</mat-label>
              <input
                #address1
                matInput
                placeholder="{{ text.get('address_line_1') }}"
                formControlName="address"
                required
              />
              <mat-error
                *ngIf="secondFormGroup.get('address').hasError('required')"
                >{{ text.get('field_required') }}</mat-error
              >
            </mat-form-field>

            <mat-form-field class="fullInputWidth p-3" appearance="outline">
              <mat-label>{{ text.get('address_line_2') }}</mat-label>

              <input
                #address2
                matInput
                placeholder="{{ text.get('address_line_2') }}"
              />
            </mat-form-field>



            <mat-form-field class="p-3 tinyInput" appearance="outline">
              <mat-label>{{ text.get('city') }}</mat-label>
              <input
                #city
                matInput
                placeholder="{{ text.get('city') }}"
                formControlName="city"
                required
              />
              <mat-error
                *ngIf="secondFormGroup.get('city').hasError('required')"
                >{{ text.get('field_required') }}</mat-error
              >
            </mat-form-field>

            <mat-form-field class="p-3 tinyWidth" appearance="outline">
              <mat-label>{{ text.get('state') }}</mat-label>
              <mat-select
                formControlName="state"
              >
                <mat-option
                  *ngFor="let option of stateObjects"
                  [value]="option.name"
                >
                  {{ option.abbreviation }} - {{ option.name }}
                </mat-option>
              </mat-select>
          </mat-form-field>

            <mat-form-field class="tinyInput p-3" appearance="outline">
              <mat-label>{{ text.get('zip_code') }}</mat-label>
              <input
                #zip
                matInput
                placeholder="{{ text.get('zip_code') }}"
                maxlength="5"
                formControlName="zip"
                required
              />
              <mat-error
                *ngIf="secondFormGroup.get('zip').hasError('required')"
                >{{ text.get('field_required') }}</mat-error
              >
              <mat-error
                *ngIf="secondFormGroup.get('zip').hasError('pattern')"
                >{{ text.get('invalid_format') }}</mat-error
              >
              <mat-hint align="end"
                >{{ secondFormGroup.get('zip').value.length }} / 5</mat-hint
              >
            </mat-form-field>
          </form>
          <hr />
          <div style="text-align: right;">
            <button
              mat-flat-button
              class="mr-2"
              color="warn"
              style="color:#fff;"
              matStepperPrevious
            >
              <mat-icon class="ml-1">keyboard_arrow_left</mat-icon>
              {{ text.get('back') }}
            </button>
            <button
              mat-flat-button
              class="ml-2"
              color="primary"
              matStepperNext
              style="color: #fff;"
            >
              {{ text.get('next') }}
              <mat-icon class="ml-1">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </mat-step>
        <mat-step style="text-align: center;">
          <ng-template matStepLabel>{{ text.get('submit') }}</ng-template>
          <ng-template #submit>
            <div>
              <h2>{{ text.get('review_information') }}</h2>
              <p style="font-style: oblique; color:#888;">
                {{ text.get('review_information_paragraph') }}
              </p>
              <p *ngIf="backendValidationError" class="p-2 mb-3 warnP">{{ text.get('invalid_email_2') }}</p>
              <hr />
              <h4 style="font-size: 18px;">
                {{ text.get('about_your_request') }}
              </h4>
              <p>
                <span class="boldP">{{ text.get('title') }}</span
                >: {{ this.title.value }}
              </p>
              <p style="white-space: pre-wrap">
                <span class="boldP">{{ text.get('description') }}</span
                >:<br />
                {{ this.description.value }}
              </p>
              <hr />

              <h4 style="font-size: 18px;">
                {{ text.get('your_information') }}
              </h4>
              <p>
                <span class="boldP">{{ text.get('name') }}</span
                >: {{ this.firstName.value }}
                {{ this.lastName.value }}
              </p>
              <p>
                <span class="boldP">{{ text.get('email') }}</span
                >:{{ secondFormGroup.controls.email.value }}
              </p>
              <p>
                <span class="boldP">{{ text.get('phone') }}</span
                >: {{ this.phoneNumber.value }}
              </p>
              <p>
                <span class="boldP">{{ text.get('address') }}</span
                >: {{ this.address1.value
                }}<span *ngIf="address2.value"> {{ this.address2.value }}</span
                >, {{ this.city.value }},
                {{ secondFormGroup.controls.state.value }}
                {{ this.zip.value }}
              </p>
              <hr />

              <div>
                <form [formGroup]="thirdFormGroup">
                  <re-captcha
                    [siteKey]="siteKey"
                    (resolved)="resolvedRecaptcha($event)"
                    formControlName="recaptchaReactive"
                  ></re-captcha>
                </form>
              </div>
              <div style="margin: 30px; text-align: center;">
                <button
                  mat-flat-button
                  class="mr-2"
                  color="warn"
                  style="color:#fff;"
                 matStepperPrevious
                >
                  <mat-icon class="ml-1">keyboard_arrow_left</mat-icon>
                  {{ text.get('back') }}
                </button>
                <button
                  [disabled]="!reCaptchaToken"
                  style="color:#fff;"
                  class="submitBtn align-middle"
                  mat-raised-button
                  color="primary"
                  (click)="submitRequest()"
                >
                  {{ text.get('submit_request') }}
                  <i class="material-icons align-middle ml-2">check</i>
                </button>
              </div>
            </div>
          </ng-template>
          <button
            *ngIf="inprocess; else submit"
            mat-raised-button
            color="primary"
            disabled
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            {{ text.get('processing') }}...
          </button>

          <hr />
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </ng-template>
</div>
