<div *ngIf="request">
  <h1 mat-dialog-title>Extend Date</h1>

  <div mat-dialog-content>
    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Extended Date</mat-label>
      <input
        matInput
        [formControl]="dateControl"
        [matDatepicker]="picker"
        placeholder="Enter Date"
        required
        [min]="minDate"
        [max]="maxDate"
        [matDatepickerFilter]="dateFilter"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" [startAt]="startAt" #picker></mat-datepicker>
      <mat-error *ngIf="dateControl.hasError('required')">
        Date is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="dateControl.hasError('forbiddenDate')">
        Select a  <strong>different</strong> date
      </mat-error>
    </mat-form-field>
    <!-- <p *ngIf="dateError" style="color: #dd090a;" class="ml-2">
      Input Date Required
    </p> -->

    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Reason for Extension</mat-label>
      <textarea matInput #note [formControl]="noteControl"></textarea>
    </mat-form-field>
    <hr />
    <div class="d-flex justify-content-end">
      <button mat-raised-button class="cancel mr-2" (click)="onNoClick()">{{ text.get('cancel') }}</button>
      <button
        (click)="extendDate()"
        mat-raised-button
        color="primary"
        style="color: #fff"
      >
        {{ text.get('ok') }}
      </button>
    </div>
  </div>
</div>
