ul li {
  list-style: none;
}
.list-group-item {
  border: none;
  transition: all 0.2s ease-in-out;
  background-color: #f9f9f9;
  //color: #adadad;
  color: #43709e;
  margin-bottom: 5px;
}
.list-group-item:hover {
  background-color: #efecec;
  cursor: pointer;
}
.list-group-item-active {
  background-color: #43709e;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border: none;
  margin-bottom: 5px;
  padding: 0.75rem 1.25rem;
}
