<form class="stepper-form" [formGroup]="formGroup">
  <div class="container-fluid p-2">
    <div *ngIf="isAdmin" style="text-align: center;">
      <span
        [ngClass]="
          !assignDepartment ? 'toggleLabel-selected' : 'toggleLabel-disabled'
        "
        >{{ text.get('assignment_queue') }}</span
      >
      <mat-slide-toggle
        [checked]="assignDepartment"
        (change)="toggleDeptAssign()"
        [ngClass]="
          assignDepartment ? 'toggleLabel-selected' : 'toggleLabel-disabled'
        "
        >{{ text.get('assign_department') }}</mat-slide-toggle
      >
    </div>
    <p style="text-align: center" class="mt-5" *ngIf="!assignDepartment">
      Your request will be sent to the assignment queue
    </p>

    <div *ngIf="isAdmin; else deptAssign">
      <div *ngIf="departments.length > 0 && assignDepartment">
        <div class="p-4">
          <div>
            <h4 class="tab-title styledFont">
              {{ text.get('assign_primary_department') }}
            </h4>
            <mat-form-field class="halfWidth" appearance="outline">
              <mat-label>{{ text.get('primary_department') }}</mat-label>
              <mat-select
                (selectionChange)="onPrimaryDepartmentChange($event)"
                formControlName="primaryDept"
                required
              >
                <mat-option *ngFor="let dept of departments" [value]="dept">
                  {{ dept.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="primaryControl.hasError('required') || primaryDepartment"
                >{{ text.get('primary_department_required') }}</mat-error
              >
            </mat-form-field>
            <hr />
            <h4 class="tab-title styledFont">
              {{ text.get('assign_secondary_departments') }}
            </h4>
            <p *ngIf="!primaryDepartment" style="color:#dd090a;">
              {{ text.get('no_primary_department_selected') }}
            </p>
            <app-multi-stack-box-selector
              *ngIf="selectorItems"
              placeholder="{{ text.get('select_department') }}"
              [allSelectableItems]="selectorItems"
              [selectedItems]="secondaryDepartments"
              (boxesChange)="onBoxesChange($event)"
            ></app-multi-stack-box-selector>
          </div>
        </div>
      </div>
    </div>
    <ng-template #deptAssign>
      <p style="text-align: left">
        Assign to:
      </p>
      <mat-radio-group
        class="radio-group"
        [(ngModel)]="radioSelection"
        [ngModelOptions]="{ standalone: true }"
        (change)="onRadioChange($event)"
      >
        <mat-radio-button *ngFor="let option of radioOptions" [value]="option">
          {{ option }}
        </mat-radio-button>
      </mat-radio-group>
    </ng-template>
  </div>
</form>
<hr />
<div style="text-align: right;">
  <button
    mat-flat-button
    class="mr-2"
    color="warn"
    style="color:#fff;"
    matStepperPrevious
  >
    <mat-icon class="ml-1">keyboard_arrow_left</mat-icon>
    {{ text.get('back') }}
  </button>
  <button
    (click)="onNotify()"
    mat-flat-button
    color="primary"
    matStepperNext
    style="color:#fff;"
  >
    {{ text.get('next') }}
    <mat-icon class="ml-1">keyboard_arrow_right</mat-icon>
  </button>
</div>
