.toggleLabel-disabled {
  font-size: 20px;
  padding: 5px;
  color: #adadad;
  transition: all 0.2s ease-in-out;
}
.toggleLabel-selected {
  font-size: 20px;
  padding: 5px;
  color: #002d56;
  transition: all 0.2s ease-in-out;
}
.mat-slide-toggle-bar {
  margin: 0 15px;
}
.halfWidth {
  width: 50%;
}
.stepper-form {
  min-width: 150px;
  width: 100%;
  min-height: 350px;
}
.fullInputWidth {
  width: 100%;
}
.tinyInput {
  width: 20%;
}
.stepper-container {
  -webkit-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  max-width: 1200px;
  margin: 50px auto;
}
.report-sent {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  box-shadow: 0px 4px 7px 0px rgba(84, 84, 84, 0.75);
  margin: auto;
}
.submitBtn {
  height: 46px;
  width: 200px;
  font-size: 18px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
