<div class="container-fluid">
  <h2 style="color: #002D56;">{{ text.get('edit_resource') }}</h2>
  <p *ngIf="!hasEmail">
      The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method. Please use this method in to provide this document
      to the requestor. <strong> NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
    </p>

  <mat-form-field color="primary" appearance="outline" class="fullWidth mt-1">
    <mat-label>{{ text.get('title') }}</mat-label>
    <input matInput [formControl]="titleControl" #title required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="fullWidth">
    <mat-label>{{ text.get('description') }}</mat-label>
    <textarea matInput [formControl]="descriptionControl" #description></textarea>
  </mat-form-field>


  <mat-form-field class="fullWidth mt-1">
    <mat-label>{{ text.get('release_type') }}</mat-label>
    <mat-select
      [formControl]="releaseTypeControl"
      required
    >
      <mat-option *ngFor="let releaseType of releaseTypes" [value]="releaseType.code">{{
        releaseType.value
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="releaseTypeControl.hasError('required')"
      >Please choose Release Type</mat-error
    >
  </mat-form-field>
  <hr />
  <div class="d-flex justify-content-end p-2">
    <button (click)="onNoClick()" mat-raised-button class="cancel mr-2">{{ text.get('cancel') }}</button>
    <button (click)="updateNote()" mat-raised-button color="primary" style="color: #fff;">
      {{ text.get('ok') }}
    </button>
  </div>
</div>
