<div class="p-4">
  <h4 class="tab-title styledFont">Request Log</h4>
  <div *ngIf="request.log" class="p-2">
    <steele-table
      [pagination]="true"
      [pageSize]="20"
      [headers]="headers"
      [rows]="request.log"
      (action)="tableAction($event)"
    ></steele-table>
  </div>
</div>
