<div mat-dialog-content class="m-3">
  <h2 style="color: #002D56;">{{ text.get('comments') }}</h2>
  <p class="col-md-6" style="color:#646464; font-style: oblique">
    This is for communication with the requestor, for example, clarifications.
    Please be aware the requestor will see these and all communication is
    public record.
  </p>
  <div #messageArea class="message-area p-3">
    <div *ngIf="request.comments">
      <p *ngIf="request.comments.length == 0" class="noComments">
        {{ text.get('no_comments_to_show') }}
      </p>
      <div
        class="col-md-8 m-2"
        [ngClass]="isRequestor(comment) ? 'user-comment' : 'staff-comment'"
        *ngFor="let comment of request.comments"
      >
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="user-avatar">
              {{ comment.commenter.firstName.charAt(0)
              }}{{ comment.commenter.lastName.charAt(0) }}
            </div>
            <div class="user-name pl-2">
              {{ comment.commenter.firstName }} {{ comment.commenter.lastName }}
            </div>
          </div>
          <div class="instr-date">{{ comment.createDate | date: 'short' }}</div>
        </div>

        <div class="comment-section ml-5">
          {{ comment.message }}
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="['OPN', 'CLS', 'DNY'].includes(status.code) && (isAdmin || isAssignedWorker)"
  class="d-flex align-items-end"
>
  <div class="fullWidth p-3">
    <mat-form-field appearance="outline" class="fullWidth">
      <mat-label>{{ text.get('send_comment') }}</mat-label>
      <textarea matInput [(ngModel)]="newComment"></textarea>
    </mat-form-field>
    <div class="d-flex justify-content-end">
      <button
        mat-raised-button
        color="accent"
        style="color:#fff;"
        (click)="sendComment()"
      >
        {{ text.get('send') }}

        <mat-icon class="ml-1">send</mat-icon>
      </button>
    </div>
  </div>
</div>
