<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened><app-staff-sidebar></app-staff-sidebar></mat-sidenav>
    <mat-sidenav-content>
      <div class="p-3" *ngIf="isLoaded()">
        <div class="request-card">
          <mat-tab-group
            backgroundColor="primary"
            color="warn"
            mat-stretch-tabs
            *ngIf="request"
            [(selectedIndex)]="selectedIndex"
            (selectedTabChange)="tabChange($event)"
          >
            <mat-tab label="infoTab" style="color: #fff!important;">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">assignment</mat-icon>
                {{ text.get('request') }}
              </ng-template>
              <app-info-tab [activeTab]="activeTab"></app-info-tab>
            </mat-tab>

            <mat-tab
              label="responseTab"
              [disabled]="!request.primaryDepartment && request.status.code == 'OPN'"
            >
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">description</mat-icon>
                {{ text.get('response') }}
              </ng-template>
              <app-response-tab [activeTab]="activeTab"></app-response-tab>
            </mat-tab>

            <mat-tab
              label="communicationsTab"
              *ngIf="hasEmail"
              [disabled]="!request.primaryDepartment && request.status.code == 'OPN'"
            >
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">chat</mat-icon>
                {{ text.get('communications') }}
              </ng-template>
              <app-communications-tab [status]="this.request.status" [activeTab]="activeTab"></app-communications-tab>
            </mat-tab>

            <mat-tab
              label="departmentTab"
              *ngIf="isAdmin"
              [disabled]="!request.primaryDepartment || request.status.code == 'CLS'"
            >
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">business</mat-icon>
                {{ text.get('departments') }}
              </ng-template>
              <app-department-tab [activeTab]="activeTab"></app-department-tab>
            </mat-tab>

            <mat-tab
            label="departmentReadOnlyTab"
            *ngIf="!isAdmin"
            [disabled]="!request.primaryDepartment || request.status.code == 'CLS'"
          >
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon mr-3">business</mat-icon>
              {{ text.get('departments') }}
            </ng-template>
            <app-department-read-only-tab [activeTab]="activeTab"></app-department-read-only-tab>
          </mat-tab>

            <mat-tab
              label="workerTab"
              *ngIf="isAssignedMan"
              [disabled]="!request.primaryDepartment || request.status.code == 'CLS'"
            >
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">group</mat-icon>
                {{ text.get('workers') }}
              </ng-template>
              <app-worker-tab [activeTab]="activeTab"></app-worker-tab>
            </mat-tab>

            <mat-tab
            label="workerReadOnlyTab"
            *ngIf="!isAssignedMan"
            [disabled]="!request.primaryDepartment || request.status.code == 'CLS'"
          >
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon mr-3">group</mat-icon>
              {{ text.get('workers') }}
            </ng-template>
            <app-worker-read-only-tab [activeTab]="activeTab"></app-worker-read-only-tab>
          </mat-tab>

            <mat-tab
              label="alertTab"
              [disabled]="!request.primaryDepartment && request.status.code == 'OPN'"
            >
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3"
                  ><i
                    class="fas fa-bell"
                    style="font-size: 18px;
                  vertical-align: 4px;"
                  ></i
                ></mat-icon>
                Alerts
              </ng-template>
              <app-alert-tab (onRequestReOpened)="requestReOpened($event)" [activeTab]="activeTab"></app-alert-tab>
            </mat-tab>

            <mat-tab label="logTab">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-3">list</mat-icon>
                {{ text.get('log') }}
              </ng-template>
              <app-log-tab [activeTab]="activeTab"></app-log-tab>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
