<div class="container-fluid">
  <h2 style="color: #002D56;">{{ dialogTitle }}</h2>

  <mat-form-field *ngIf="!completionStatus || key === 'edit_comment'"
    color="primary"
    appearance="outline"
    class="fullWidth mt-1">
    <mat-label>Comment</mat-label>
    <textarea
    matInput
    #comment
    style="height: 200px; overflow-y: scroll"
    [formControl]="commentControl"
  ></textarea>
  </mat-form-field>
  <div *ngIf="completionStatus && key !== 'edit_comment'">
      <p>Completion Status will be set to "Incomplete" and any comments will be removed. Continue?</p>
  </div>
  <hr />
  <div class="d-flex justify-content-end p-2">
    <button (click)="onNoClick()" mat-raised-button class="cancel mr-2">{{ text.get('cancel') }}</button>
    <button (click)="updateCompletionStatus()" mat-raised-button color="primary" style="color: #fff;">
      {{ text.get('ok') }}
    </button>
  </div>
</div>
