<div class="p-3">
  <h3 class="tab-title styledFont">New Government Entity</h3>
  <form [formGroup]="formGroup">
    <div class="row">
      <mat-form-field class="m-3">
        <input #name matInput placeholder="{{ text.get('name') }}" required />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="m-3">
        <input
          #email
          matInput
          [formControl]="emailControl"
          placeholder="{{ text.get('email') }}"
          required
        />
      </mat-form-field>
    </div>

    <hr />
    <div mat-dialog-actions class="d-flex justify-content-end m-1">
      <button (click)="onNoClick()" type="button" mat-raised-button class="cancel mr-2">
        {{ text.get('cancel') }}
      </button>
      <button
        (click)="createGovernmentEntity()"
        type="button"
        mat-raised-button
        color="accent"
        style="color: #fff;"
      >
        Create Government Entity
      </button>
    </div>
  </form>
</div>
