<div class="contianer-fluid">
  <h2 style="color: #002D56;">Edit Instruction</h2>

  <p *ngIf="!hasEmail">
      The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method. Please use this method in to provide these instructions
      to the requestor. <strong> NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
    </p>

  <mat-form-field color="primary" appearance="outline" class="fullWidth mt-1">
    <mat-label>{{ text.get('title') }}</mat-label>
    <input matInput placeholder="Optional" #title [formControl]="titleControl" />
  </mat-form-field>

  <mat-form-field color="primary" appearance="outline" class="fullWidth">
    <mat-label>{{ text.get('instruction') }}</mat-label>
    <textarea
      matInput
      #instruction
      style="height: 200px; overflow-y: scroll"
      [formControl]="instructionControl"
      required
    ></textarea>
    <mat-error *ngIf="instructionControl.hasError('required')"
      >Instruction message <strong>required</strong></mat-error
    >
  </mat-form-field>
  <mat-error *ngIf="instructionError">Instruction message <strong>required</strong></mat-error>
  <mat-form-field class="fullWidth">
    <mat-label>{{ text.get('release_type') }}</mat-label>
    <mat-select
      [formControl]="releaseTypeControl"
      required
    >
      <mat-option *ngFor="let releaseType of releaseTypes" [value]="releaseType.code">{{
        releaseType.value
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="releaseTypeControl.hasError('required')"
      >Please choose Release Type</mat-error
    >
  </mat-form-field>
  <mat-error *ngIf="releaseError">Please choose Release Type</mat-error>
  <hr />
  <div class="d-flex justify-content-end p-2">
    <button (click)="onNoClick()" mat-raised-button class="cancel mr-2">{{ text.get('cancel') }}</button>
    <button (click)="updateInstruction()" mat-raised-button color="primary" style="color: #fff;">
      {{ text.get('ok') }}
    </button>
  </div>
</div>
