<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened>
      <app-super-sidebar active="userMgt"></app-super-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="p-4">
      <div class="d-flex">
        <div class="p-2">
          <h1>{{ text.get('user_management') }}</h1>
        </div>
        <div class="ml-auto p-2">
          <button
            (click)="openAddUserDialog()"
            mat-raised-button
            color="primary"
            style="color: #fff;"
          >
            <mat-icon class="mr-1">add_circle</mat-icon>
            Add User
          </button>
        </div>
      </div>
      <div
        (click)="editUser(user)"
        class="userRow d-flex align-self-center"
        *ngFor="let user of users"
      >
        <div class="col" style="max-width: 80px;">
          <div *ngIf="!user.disabled" class="avatar" [ngClass]="user.role.value.toLowerCase()">
            {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
          </div>
          <div *ngIf="user.disabled" class="avatar disabled">
            {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
          </div>
        </div>
        <div class="col-md-4">
          <p class="m-0 userName">
            {{ user.firstName }} {{ user.lastName }} <span *ngIf="user.disabled">(Disabled)</span>
          </p>
          <p class="m-0 userEmail">{{ text.get('email') }}: {{ user.email }}</p>
          <p class="m-0 userEmail">{{ text.get('username') }}: {{ user.username }}</p>
        </div>
        <div *ngIf="user.department" class="col-md-2">
          <p class="m-0 userName">{{ text.get('department') }}:</p>
          <p class="m-0 userEmail">{{ user.department.name }}</p>
        </div>
        <div class="col-md-2">
          <p class="m-0 userName">{{ text.get('role') }}:</p>
          <p class="m-0 userEmail">{{ user.role.value }}</p>
        </div>
        <div class="col-md-4">
          <p class="m-0 userName">{{ text.get('groups') }}:</p>
          <p class="m-0 userEmail">
            <span *ngFor="let group of user.groups">{{ group.value }},&nbsp;</span>
          </p>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
