.notes-wrapper {
  max-height: 600px;
  overflow-y: scroll;
}
.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1px;
}
.user-name {
  color: #002d56;
  font-weight: bold;
}
.instr-date {
  color: #adadad;
  font-size: 12px;
  //padding-right: 20px;
}
.instr-container {
  overflow: hidden;
  padding: 2px;
}
.instr-text {
  padding: 12px 10px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  max-height: 128px;
  color: #333;
  margin-bottom: 10px;
}
.noNotes {
  color: #ccc;
  font-style: oblique;
}
.noteTitle {
  color: #43709e;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.text {
  font-size: 16px;
 // font-weight: bold;
  margin: 0;
  color: #333;
  line-height: 1.1;
}
.instr-title {
  color: #43709e;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
