<h2 style="color: #002D56;">Notes</h2>
<hr />
<p class="slantedText" *ngIf="notes.length == 0">
  {{ text.get('no_notes_to_display') }}
</p>
<div *ngIf="notes" class="notes-wrapper">
  <div class="container-fluid instr-container p-1 mb-1" *ngFor="let note of notes">
    <div class="item-container d-flex justify-content-between">
      <div class="col">
        <div class="text m-1">
          <span class="instr-title mr-2">{{ text.get('title') }}:</span>
          <span class="text">{{ note.title }}</span>
        </div>
        <div class="text m-1">
          <span class="instr-title mr-2">{{ text.get('message') }}:</span>
          <span class="text" [innerHTML]="note.message"></span>
        </div>
      </div>
      <div class="col ml-auto">
        <div class="text m-1">
          <span class="instr-title mr-2">{{ text.get('release_type') }}:</span>
          <span class="text">{{ note.releaseType.value }}</span>
        </div>
        <div class="instr-date m-1">
          Added {{ note.createDate | date: 'short' }}
          by {{ note.creator.firstName }} {{ note.creator.lastName }}
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
<ng-template #noNotes>
  <div class="noNotes">No Notes to Display</div>
</ng-template>
