<div class="mb-2 container-fluid">
  <!-- Beginning of list -->
  <div
    *ngFor="let box of boxes; let i = index"
    class="mb-3 row"
    style="overflow: hidden"
  >
    <!-- Beginning of box -->
    <div class="d-flex justify-content-left align-items-center col">
      <div
        class="stack-box active-box d-flex justify-content-between align-items-center fadeIn"
      >
        <div style="width: 52px">
          <button
            *ngIf="box.newOption"
            (click)="addMessage(box, i)"
            mat-icon-button
            aria-label="add note"
            class="iconBtn"
          >
            <i
              [ngClass]="
                box.message
                  ? 'fas fa-comment commentTrue matIcon'
                  : 'fas fa-comment-slash matIcon'
              "
            ></i>
          </button>
        </div>

        <div class="styledFont" style="font-size: 18px">
          {{ box.item.name }}
        </div>
        <button
          (click)="removeItem(box.item)"
          mat-icon-button
          aria-label="delete"
          class="iconBtn"
        >
          <i class="fas fa-times-circle matIcon"></i>
        </button>
      </div>
      <!-- Beginning of message -->
      <div
        *ngIf="box.isMessageVisible"
        class="noteMsg"
        [ngClass]="box.isMessageVisible ? 'slideDown' : 'slideUp'"
      >
        <mat-form-field appearance="outline" class="note-form-container">
          <mat-label>Message to {{ box.item.name }}</mat-label>
          <textarea matInput (keyup)="onTextChange($event, i)">{{
            box.message
          }}</textarea>
        </mat-form-field>
        <button
          mat-icon-button
          color="accent"
          aria-label="Close Note Message"
          (click)="closeMessage(i)"
        >
          <i class="fas fa-chevron-up fa-2x"></i>
        </button>
      </div>
      <!-- End of message -->
    </div>
    <!-- End of box -->
    <div *ngIf="showItemStatus && box.item.completionStatus" class="col">
      Complete:{{ box.item.completionStatus.completed ? " Yes \u2705" : " No" }}
    </div>
    <div *ngIf="showItemStatus && box.item.completionStatus" class="col">
      <button
        mat-raised-button
        [color]="calcButtonColor(box.item.completionStatus.completed)"
        class="mr-2"
        (click)="sendEvent(box.item, 'completed')"
      >
        {{
          box.item.completionStatus.completed
            ? "Remove Completion"
            : "Mark Complete"
        }}
      </button>
    </div>
    <div
      *ngIf="showItemStatus && box.item.completionStatus"
      class="col-5"
      [innerHTML]="box.item.completionStatus.comment"
    ></div>
    <div *ngIf="showItemStatus && box.item.completionStatus" class="col">
      <button
        *ngIf="showIcon(box.item)"
        mat-icon-button
        (click)="sendEvent(box.item, 'edit_comment')"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <!-- End of list -->
  <div *ngIf="availableItems.length > 0 && placeholder" class="m-2">
    <mat-form-field style="width: 33%" class="m-1" appearance="outline">
      <mat-select
        placeholder="{{ placeholder }}"
        (selectionChange)="onSelectChange($event)"
      >
        <mat-option *ngFor="let item of availableItems" [value]="item">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
