.stack-box {
  height: 52px;
  min-width: 280px;
  width: 33%;
  border-radius: 24px;
  position: relative;
}
.ghost-box {
  border: 2px dashed #2196f3;
  padding: 5px;
  text-align: center;
}
.disabledBox {
  background-color: #ccc;
  border: 1px solid #2196f3;
}
.active-box {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 10;
}
.iconBtn {
  height: 52px;
  width: 52px;
  background-color: #1c7fce !important;
  color: #4dadf9;
  transition: all 0.2s ease-in-out;
}
.iconBtn:hover {
  color: #a5d6fd;
  transition: all 0.2s ease-in-out;
}
.matIcon {
  font-size: 22px;
}
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

.noteMsg {
  width: 33%;
  min-width: 280px;
  background-color: #f9f9f9;
  margin-top: -20px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

.note-form-container {
  width: 100%;
  height: 90px;
}

.commentTrue {
  color: #ffc107;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fullWidth {
  width: 100%;
}

.htmlDescCol {
  overflow: hidden;
  text-overflow: ellipsis;
}

.narrowCol {
  max-width: 150px;
}

.narrowMedCol {
  max-width: 190px;
}

.medCol {
  max-width: 300px;
}
