.wrapper {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
  margin-top: 115px;
}

.open {
  color: green;
  font-size: 16px;
  vertical-align: 2px;
}

.boldP {
  color: #002d56;
  -webkit-text-stroke: 0.4px #002d56;
}
