<ng-template mat-tab-label>
  <mat-icon class="mr-3">assignment</mat-icon>
  {{ text.get('request_information') }}
</ng-template>
<div *ngIf="request" class="p-4">
  <h4 class="tab-title styledFont">{{ text.get('about_the_request') }}</h4>
  <div class="p-2">
    <div class="d-flex justify-content-between">
      <h5>
        <i class="{{ request.status.value | lowercase }} fas fa-circle mr-2"></i
        >{{ request.title }} -
        {{ request.id }}
      </h5>
    </div>
    <p [innerHTML]="request.description"></p>
  </div>
  <hr />
  <h4 class="tab-title styledFont">{{ text.get('about_the_requestor') }}</h4>
  <div *ngIf="request.requestor" class="p-2 row">
    <div class="col">
      <p>
        <span class="boldP">{{ text.get('name') }}: </span>
        {{ request.requestor.firstName }} {{ request.requestor.lastName }}
      </p>
      <p>
        <span class="boldP">{{ text.get('email') }}: </span
        >{{ request.requestor.contactInfo.email }}
      </p>
      <p *ngIf="request.requestor.contactInfo.secondary_emails && request.requestor.contactInfo.secondary_emails.length">
        <span class="boldP">secondary Emails: </span>
        <span *ngFor="let email of request.requestor.contactInfo.secondary_emails; let i = index">
          {{ email }}<span *ngIf="i < request.requestor.contactInfo.secondary_emails.length - 1">, </span>
        </span>
      </p>
    </div>
    <div class="col">
      <p>
        <span class="boldP">{{ text.get('phone') }}: </span>
        {{ request.requestor.contactInfo.phone }}
      </p>
      <p>
        <span class="boldP">{{ text.get('fax') }}: </span>{{ request.requestor.contactInfo.fax }}
      </p>
    </div>
    <div class="col">
      <p>
        <span class="boldP">{{ text.get('address') }}: </span><br />
        {{ request.requestor.contactInfo.address1 }}<br />
        <span *ngIf="request.requestor.contactInfo.address2 != ''"
          >{{ request.requestor.contactInfo.address2 }}<br
        /></span>
        {{ request.requestor.contactInfo.city }},
        {{ request.requestor.contactInfo.state }}
        {{ request.requestor.contactInfo.postalCode }}<br />
      </p>
    </div>
  </div>
  <hr />
  <h4 class="tab-title styledFont">{{ text.get('request_information') }}</h4>
  <div class="p-2 m-2 ">
    <p>
      <span class="boldP">{{ text.get('create_date') }}: </span
      >{{ request.createDate | date: 'mediumDate' }}
    </p>
    <p>
      <span class="boldP">{{ text.get('due_date') }}: </span>{{ request.dueDate | date: 'mediumDate' }}
    </p>
    <p>
      <span class="boldP">{{ text.get('status') }}: </span>{{ request.status.value }}
    </p>
  </div>
  <hr />
</div>
