<div class="d-flex justify-content-end">
  <button
    *ngIf="request.status.code === 'OPN'"
    (click)="openUploadDialog()"
    mat-raised-button
    color="accent"
    style="color: #fff;"
    [disabled]="!isAssignedWorker && !isAdmin"
  >
    <mat-icon class="mr-2">arrow_upwards</mat-icon>
    {{ text.get('upload_document') }}
  </button>
</div>
<h2 style="color: #002D56;">{{ text.get('documents') }}</h2>
<hr />
<p *ngIf="request.resources.length == 0" class="slantedText">
  {{ text.get('no_documents_to_display') }}
</p>
<div *ngIf="uploading" class="m-1">
  <div class="p-3 d-flex align-items-center">
    <i
      [ngStyle]="{
        color:
          uploadStatus === 'done' || uploadStatus === 'Finishing Up...'
            ? '#4dd0e1'
            : '#ccc'
      }"
      class="far fa-file fa-3x col-xs-1"
    ></i>
    <div class="col">
      <p class="boldP"></p>
      <mat-progress-bar
        mode="determinate"
        [value]="progress"
      ></mat-progress-bar>
      <p class="slantedText m-1">{{ uploadStatus }}</p>
    </div>
    <hr />
  </div>
</div>
<div class="notes-wrapper" *ngFor="let resource of request.resources">
  <div
    class="container-fluid instr-container p-1 mb-1"
    *ngIf="resource.releaseType.code !== 'DOC'"
  >
    <div class="item-container d-flex justify-content-between document-item">

        <div class="col">
            <div class="text ml-3">
                <span class="instr-title mr-2">{{ text.get('title') }}:</span>
                <span class="text">{{ resource.title }}</span>
            </div>
            <div class="text ml-3">
              <span class="instr-title mr-2 mt-2">{{ text.get('description') }}: </span>
              <!-- <span class="text">{{ resource.description }}</span> -->
              <span class="text" [innerHTML]="resource.description"></span>
            </div>
        </div>

        <div class="col ml-auto">

            <div class="text m-1">
                <span class="instr-title mr-2">{{ text.get('release_type') }}:</span>
                <span class="text">{{ resource.releaseType.value }}</span>
              </div>
              <p *ngIf="resource.needsReview" style="font-style: oblique;">
                  (Pending Legal Review)
                </p>
                <div class="instr-date m-1">
                    Uploaded {{ resource.createDate | date: 'short' }}
                    by {{ resource.creator.firstName }} {{ resource.creator.lastName }}
                </div>

        </div>
        <div class="btn-div">
            <button mat-raised-button color="accent" (click)="download(resource)">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button
              *ngIf="resource.editable && request.status.code === 'OPN'"
              style="margin-top: 10px"
              mat-raised-button
              color="accent"
              (click)="openUpdateResourceDialog(resource)"
            >
              <mat-icon>create</mat-icon>
            </button>
            <button
              *ngIf="resource.editable && request.status.code === 'OPN'"
              style="margin-top: 10px"
              mat-raised-button
              color="accent"
              (click)="openDeleteResourceDialog(resource)"
            >
            <mat-icon>delete</mat-icon>
            </button>
        </div>

    </div>


    <hr />
  </div>
</div>
