<div class="d-flex justify-content-end">
  <button *ngIf="request.status.code === 'OPN'" (click)="openLinkDialog()" mat-raised-button color="accent"
    style="color: #fff;" [disabled]="!isAssignedWorker && !isAdmin">
    <mat-icon class="mr-2">add_circle_outline</mat-icon>
    Add Link
  </button>
</div>
<h2 style="color: #002D56;">{{ text.get('links') }}</h2>
<hr />
<p class="slantedText" *ngIf="request.links.length == 0">
  {{ text.get('no_links_to_display') }}
</p>
<div *ngIf="request.links; else noInstructions" class="notes-wrapper">
  <div class="container-fluid instr-container p-1 mb-1" *ngFor="let link of request.links">
    <div class="item-container d-flex justify-content-between">
      <div class="col">
        <div class="text ml-3">
          <span class="instr-title mr-2">{{ text.get('title') }}:</span>
          <span class="text">{{ link.title }}</span>
        </div>
        <div class="text ml-3">
          <span class="instr-title mr-2 mt-2">{{ text.get('description') }}:</span>
          <span class="text" [innerHTML]="link.description"></span>
        </div>
        <div class="ml-3" style="font-style: oblique; display: block;">
          {{ text.get('go_to_link') }}:
          <span class="link" (click)="goToUrl(link.url)">{{ link.url }}</span>
        </div>
      </div>
      <div class="col ml-auto">
        <div class="text m-1">
          <span class="instr-title mr-2">{{ text.get('release_type') }}:</span>
          <span class="text">{{ link.releaseType.value }}</span>
        </div>
        <div class="instr-date m-1">
          Uploaded {{ link.createDate | date: 'short' }}
          by {{ link.creator.firstName }} {{ link.creator.lastName }}
        </div>
      </div>
      <div class="btn-div">
        <div *ngIf="link.editable && request.status.code === 'OPN'">
          <button mat-raised-button color="accent" (click)="openUpdateLinkDialog(link)">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
<ng-template #noInstructions>
  <div class="noNotes">No Notes to Display</div>
</ng-template>
