<div>
  <h5>{{ heading }}</h5>
  <hr />
  <div class="d-flex justify-content-between">
    <button mat-button (click)="onNoClick()">{{ cancel }}</button>
    <button (click)="closeDialog()" mat-raised-button color="primary" style="color: #fff">
      {{ confirm }}
    </button>
  </div>
</div>
