<h4 mat-dialog-title>Update Department</h4>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="m-2 fullWidth">
    <mat-label>Department Name</mat-label>
    <input matInput [formControl]="name" required />
    <mat-error *ngIf="name.hasError">{{
      text.get('field_required')
    }}</mat-error>
  </mat-form-field>
</div>
<hr />
<div mat-dialog-actions class="d-flex justify-content-end m-1">
  <button (click)="onNoClick()" type="button" mat-raised-button class="cancel mr-2">
    {{ text.get('cancel') }}
  </button>
  <button
    (click)="updateDepartmentName()"
    type="button"
    mat-raised-button
    color="accent"
    style="color: #fff;"
  >
    Update Department
  </button>
</div>
