.navbar {
  background-color: #fff;
  padding: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
  border-bottom: 5px solid #ffc107;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
a {
  color: #fff;
}
.headerTitle {
  color: #fff;
}
.navTop {
  width: 100%;
  position: absolute;
  height: 27px;
  background-color: #4dd0e1;
  top: 0;
}
.signout {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.signout:hover {
  color: #ffc107;
}
.mainNavItem {
  margin: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.mainNavItem a {
  color: #333333;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
.mainNavItem i {
  color: #86d2de;
  display: block;
  transition: all 0.2s ease-in-out;
}
.mainNavItem:hover {
  transform: scale(1.05);
}
.mainNavItem:hover i {
  color: #17a2b8;
}
.mainNavItem:hover a {
  color: #17a2b8;
}
