<nav class="navbar navbar-expand-lg">
  <div class="nav navTop justify-content-between">
    <div class="nav-item">
      <a
        *ngIf="!user"
        class="nav-link"
        style="padding: 1px; margin-left: 25px; color: #fff;"
      >
        <mat-icon style="vertical-align: middle; margin-right: 5px;"
          >language</mat-icon
        >
        <select (change)="selectOption($event.target.value)">
          <option
            *ngFor="let option of text.availableLanguages"
            [selected]="selectedOption === option"
          >
            {{ option }}
          </option>
        </select>
      </a>
    </div>
    <div class="nav-item">
      <a
        *ngIf="user; else signin"
        class="nav-link"
        style="padding: 1px; margin-right: 25px; color: #fff;"
      >
        <i class="fas fa-user-circle"></i> {{ text.get('hello') }}
        {{ staff.firstName }},
        <span class="pl-1 signout" (click)="logOut()"
          >{{ text.get('sign_out') }}?</span
        >
      </a>

      <ng-template #signin>
        <a
          class="nav-link"
          style="padding: 1px; margin-right: 25px; color: #fff;"
          ><i class="fas fa-user-circle"></i
          ><span class="pl-1 signout" (click)="changeRoute('signin')">{{
            text.get('sign_in')
          }}</span></a
        >
      </ng-template>
    </div>
  </div>
  <div (click)="changeRoute('home')">
    <a class="navbar-brand mt-4 d-inline-block">
      <img
        src="assets/images/logo.png"
        height="80px"
        width="80px"
        alt=""
        class=""
      />
    </a>
    <div class="d-inline-block align-middle">
      <h2 class="m-0 cinzel" style="text-transform: uppercase; ">
        {{ constantService.config.entityName }}
      </h2>
      <p class="pl-1 " style="letter-spacing: 3px; line-height: 5px;">
        {{ constantService.config.appName }}
      </p>
    </div>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <div
    *ngIf="!user"
    class="collapse navbar-collapse mr-3"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav mt-4 ml-auto">
      <li class="nav-item mainNavItem" (click)="changeRoute('home')">
        <a
          class="nav-link styledFont pb-0"
          [ngStyle]="{
            'border-bottom': page === 'home' ? '2px solid orange' : ''
          }"
          ><i class="fas fa-home fa-2x navIcon"></i>{{ text.get('home') }}</a
        >
      </li>
      <li
        class="nav-item mainNavItem "
        style="text-align: center;"
        (click)="changeRoute('newRequest')"
      >
        <a
          class="nav-link styledFont pb-0"
          [ngStyle]="{
            'border-bottom': page === 'newRequest' ? '2px solid orange' : ''
          }"
          ><i class="fas fa-clipboard-list fa-2x navIcon"></i
          >{{ text.get('new_request') }}</a
        >
      </li>
      <li
        (click)="changeRoute('publicSearch')"
        class="nav-item mainNavItem"
        style="text-align: center;"
      >
        <a class="nav-link styledFont"
          ><i class="fas fa-search fa-2x navIcon"></i
          >{{ text.get('search') }}</a
        >
      </li>
    </ul>
  </div>
</nav>
