<ng-template mat-tab-label>
  <mat-icon class="mr-3">assignment</mat-icon>
  {{ text.get('request_information') }}
</ng-template>
<div *ngIf="request" class="p-4">
  <h4 class="tab-title styledFont">{{ text.get('about_the_request') }}</h4>
  <div class="p-2">
    <div class="d-flex justify-content-between">
      <h5>
        <i class="{{ request.status.value | lowercase }} fas fa-circle mr-2"></i
        >{{ request.publicTitle }} -
        {{ request.id }}
      </h5>
    </div>
    <p [innerHTML]="request.publicDescription"></p>
  </div>
  <hr />
  <h4 class="tab-title styledFont">{{ text.get('about_the_requestor') }}</h4>
  <div *ngIf="request.requestor" class="p-2 row">
    <div class="col">
      <p>
        <span class="boldP">{{ text.get('name') }}: </span>
        {{ request.requestor.firstName }} {{ request.requestor.lastName }}
      </p>
    </div>
  </div>
  <hr />
  <h4 class="tab-title styledFont">{{ text.get('request_information') }}</h4>
  <div class="p-2 m-2 ">
    <p>
      <span class="boldP">{{ text.get('create_date') }}: </span
      >{{ request.createDate | date: 'mediumDate' }}
    </p>
    <p>
      <span class="boldP">{{ text.get('due_date') }}: </span
      >{{ request.dueDate | date: 'mediumDate'}}
    </p>
    <p>
      <span class="boldP">{{ text.get('status') }}: </span
      >{{ request.status.value }}
    </p>
    <p>
      <span class="boldP">{{ text.get('status_note') }}: </span
      >{{ request.statusNote }}
    </p>
  </div>
  <hr />
  <button
    (click)="openPasscodeDialog()"
    mat-raised-button
    color="warn"
    style="color:#fff;"
  >
    <mat-icon class="mr-1">person</mat-icon
    >{{ text.get('log_in_as_requestor') }}
  </button>
</div>
