<div *ngIf="user" class="dash-sidebar">
  <div>
    <ul>
      <li
        (click)="changeRoute('dashboard')"
        class="sidebar-item"
        [ngClass]="{ 'sidebar-active': active == 'dash' }"
      >
        <a>
          <i class="material-icons align-middle mr-2 side-icon">dashboard</i>
          <span *ngIf="expandedMenu" class="align-middle styledFont sidebar-title">
            {{ text.get('dashboard') }}
          </span>
        </a>
      </li>

      <li
        (click)="changeRoute('staffRequest')"
        class="sidebar-item"
        [ngClass]="{ 'sidebar-active': active == 'newRequest' }"
      >
        <a>
          <i class="material-icons align-middle mr-2 side-icon">note_add</i>
          <span *ngIf="expandedMenu" class="align-middle styledFont sidebar-title">{{
            text.get('new_request')
          }}</span>
        </a>
      </li>
      <li
        (click)="changeRoute('staffSearch')"
        class="sidebar-item"
        [ngClass]="{ 'sidebar-active': active == 'searchRequests' }"
      >
        <a>
          <i class="material-icons align-middle mr-2 side-icon">find_in_page</i>
          <span *ngIf="expandedMenu" class="align-middle styledFont sidebar-title">
            {{ text.get('search_requests') }}</span
          >
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-div">
    <button (click)="setSideMenuToggle()" mat-icon-button color="warn" class="mt-3">
      <i *ngIf="!expandedMenu" class="material-icons align-middle side-icon">navigate_next</i>
      <i *ngIf="expandedMenu" class="material-icons align-middle side-icon">navigate_before</i>
    </button>
  </div>
</div>
