.dash-sidebar {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
  height: 100%;
  background-color: #002d56;
}

.dash-sidebar ul {
  width: 100%;
  padding: 15px 0;
}

.sidebar-item {
  list-style: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  margin: 20px 10px;
  border-radius: 3px;
  color: #3e678c;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.sidebar-item:hover,
.sidebar-active {
  color: #ffc107;
  transition: all 0.2s ease-in-out;
}
.side-icon {
  font-size: 36px;
}
.bottom-div {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  border-top: 1px solid #3e678c;
}
.sidebar-title {
  font-size: 18px;
  padding: 0 10px;
}
