.fileIcon {
  height: 100px;
  width: 100px;
  font-size: 100px;
}
.boldP {
  color: #002d56;
  -webkit-text-stroke: 0.4px #002d56;
}
.docTitle {
  margin-bottom: 2px;
  font-size: 18px;
}
.disabled {
  color: #ccc;
}
.active {
  color: #2196f3;
}
