<div class="d-flex justify-content-between">
  <h2 class="styledFont">{{ text.get('legal_actions') }}</h2>
  <div style="width: 300px; text-align: center;" class="pt-1">
    <mat-slide-toggle
      (change)="toggleUnderReview()"
      class="example-margin"
      [checked]="underReview"
    >
      <h4
        style="padding-top: 6px;"
        [ngStyle]="{
          color: underReview ? '#03A9F4' : '#002d56'
        }"
      >
        {{ text.get('under_review') }}
      </h4>
    </mat-slide-toggle>
  </div>
</div>
<div class="d-flex">
  <div class="p-2">
    <mat-icon class="fileIcon" [ngClass]="underReview ? 'active' : 'disabled'"
      >insert_drive_file</mat-icon
    >
  </div>
  <div class="p-2">
    <p class="docTitle" [ngClass]="underReview ? 'active' : 'disabled'">
      {{ resource.title }}
    </p>
    <p class="p-0 m-0">
      <span class="boldP">{{ text.get('release_type') }}: </span
      >{{ releaseType.value }}
    </p>
  </div>
  <div class="ml-auto p-2">
    <button
      (click)="openDenyDialog()"
      mat-raised-button
      class="mr-4"
      [ngStyle]="{
        backgroundColor: underReview ? '#dd090a' : ''
      }"
      style="color:#fff;"
      [disabled]="!underReview"
    >
      <mat-icon class="mr-2">not_interested</mat-icon>
      {{ text.get('reject') }}
    </button>
    <button
      (click)="openApproveDialog()"
      mat-raised-button
      color="primary"
      style="color:#fff;"
      [disabled]="!underReview"
    >
      <mat-icon class="mr-2">check</mat-icon>
      {{ text.get('approve') }}
    </button>
  </div>
</div>
<div class="d-flex align-items-center mt-1">
  <button
    (click)="downloadResource()"
    mat-raised-button
    color="accent"
    style="color:#fff;"
    [disabled]="!underReview"
  >
    <mat-icon class="mr-2">cloud_download</mat-icon>
    {{ text.get('download') }}
  </button>
  <button
    (click)="openUploadDialog()"
    mat-raised-button
    color="warn"
    class="ml-4"
    style="color:#fff;"
    [disabled]="!underReview"
  >
    <mat-icon class="mr-2">cloud_upload</mat-icon>
    {{ text.get('upload_revised_document') }}
  </button>
</div>
<div class="mt-3" *ngIf="fileData && fileData.status !== 'Done'">
  <div class="d-flex align-items-center m-1">
    <i
      [ngStyle]="{
        color:
          fileData.status === 'Done' || fileData.status === 'Finishing Up...'
            ? '#4dd0e1'
            : '#ccc'
      }"
      class="far fa-file fa-3x col-xs-1"
    ></i>
    <div class="col">
      <p class="boldP m-1">{{ fileData.title }}</p>
      <mat-progress-bar
        *ngIf="fileData.status === 'waiting'"
        mode="buffer"
      ></mat-progress-bar>
      <mat-progress-bar
        *ngIf="fileData.status !== 'waiting'"
        mode="determinate"
        [value]="fileData.progress"
      ></mat-progress-bar>
      <p class="slantedText m-1">({{ fileData.status }})</p>
    </div>
  </div>
</div>
<div class="p-1 mt-5">
  <h4 class="styledFont" style="color:#002d56;">
    {{ text.get('reason_for_review') }}
  </h4>
  <hr />
  {{ resource.message }}
</div>
