<ng-template mat-tab-label>
  <mat-icon class="mr-3">assignment</mat-icon>
  {{ text.get('request_information') }}
</ng-template>
<div *ngIf="request" class="p-4">

  <div *ngIf="!hasEmail" class="p-2 mb-3 warnP">
      The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method.
      Please use this method in all communications with the requestor.  <strong>NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
  </div>

  <div class="d-flex mb-3">
    <div class="mr-auto">
      <h2 style="color: #002D56;">{{ text.get('about_the_request') }}</h2>

      <h5 class="mr-auto">
        <i class="status{{
            request.status.value | lowercase
          }} fas fa-circle mr-2"></i>{{ request.title }} -
        {{ request.id }}
      </h5>
    </div>

    <!-- Upper right button section ************************************************-->
    <div class="p-2">
      <div *ngIf="
          !request.primaryDepartment &&
          (isAdmin || isClerk) &&
          request.status.code === 'OPN'
        ">
        <button mat-raised-button class="m-1" color="primary" style="color:#fff" (click)="openAssignDialog()">
          <i class="material-icons pr-1">
            assignment
          </i>
          {{ text.get('assign_department') }}
        </button>
        <button mat-raised-button class="m-1" color="accent" style="color:#fff;" (click)="openDenyDialog()">
          <i class="material-icons pr-1">
            block
          </i>
          {{ text.get('deny_request') }}
        </button>
      </div>

      <!-- Shows after primary department assigned. -->
      <button *ngIf="
          request.status.code === 'OPN' &&
          ((request.primaryDepartment && isPDM) ||
          isAdmin) &&
          request.extensionStatus.code === 'NON'
        " mat-raised-button class="m-1" color="warn" style="color:#fff;" (click)="extendDueDate()">
        <i class="material-icons pr-1">
          today
        </i>
        {{ text.get('initial_due_date') }}
      </button> <!-- 3-Day Letter -->
      <button *ngIf="
          request.status.code === 'OPN' &&
          isAdmin &&
          request.extensionStatus.code !== 'NON'
        " mat-raised-button class="m-1" color="warn" style="color:#fff;" (click)="extendDueDate()">
        <i class="material-icons pr-1">
          today
        </i>
        {{ text.get('extend_due_date') }}
      </button> <!-- Burdensome -->
      <button *ngIf="
          request.status.code === 'OPN' &&
          isAdmin
        " mat-raised-button class="m-1" color="warn" style="color:#fff;" (click)="updateDueDate()">
        <i class="material-icons pr-1">
          today
        </i>
        {{ text.get('update_due_date') }}
      </button> <!-- Adjust Due Date -->
      <button *ngIf="
        (['OPN', 'CLS'].includes(request.status.code) && 
        request.primaryDepartment && isAdmin) ||
        (request.status.code === 'DNY' && isAdmin)
      " mat-raised-button class="m-1" color="accent" style="color:#fff;" (click)="openWrongCustodianDialog()">
        <i class="material-icons pr-1">
          article
        </i>
        {{ text.get('wrong_custodian') }}
      </button>
      <button *ngIf="
          (['CLS', 'DNY'].includes(request.status.code) && (isAdmin || isPDM))
        " mat-raised-button class="m-1" color="accent" style="color:#fff;" (click)="reOpenRequest()">
        <i class="material-icons pr-1">
          lock_open
        </i>
        {{ text.get('re_open_request') }}
      </button>
      <button *ngIf="
          (request.status.code === 'OPN' &&
            isAdmin &&
            request.primaryDepartment) ||
          (request.status.code === 'OPN' && isPDM && request.primaryDepartment)
        " (click)="closeRequest()" mat-raised-button class="ml-3" style="background-color:#dd090a; color:#fff;">
        <i class="material-icons pr-1">
          close
        </i>
        {{ text.get('close_request') }}
      </button>
    </div>
  </div>
  <div class="row mb-4">
    <mat-slide-toggle [checked]="editPublicDescription" [disabled]="request.status.code === 'CLS' || !(isAssignedWorker || isAdmin)"
      (change)="showPublicDescription()" [ngClass]="
        editPublicDescription ? 'toggleLabel-selected' : 'toggleLabel-disabled'
      ">{{ text.get('update_public_description') }}</mat-slide-toggle>

      
    <mat-slide-toggle [checked]="editPublicTitle" [disabled]="request.status.code === 'CLS' || !(isAssignedWorker || isAdmin)"
      (change)="showPublicTitle()" [ngClass]="
      editPublicTitle? 'toggleLabel-selected' : 'toggleLabel-disabled'
      ">{{ text.get('update_public_title') }}</mat-slide-toggle>

    
    <i class="material-icons mr-2 ml-4 clickable" (click)="goToPublicView()">
      visibility
    </i>

    
    <span class="p-text clickable" (click)="goToPublicView()">{{ text.get('see_public_view') }}</span>

    <i class="material-icons mr-2 ml-4 clickable" (click)="goToRequestorView()">
      visibility
    </i>
    <span class="p-text clickable" (click)="goToRequestorView()">{{ text.get('see_requestor_view') }}</span>
  </div>

  <div *ngIf="editPublicDescription" class="p1">
    <mat-form-field appearance="outline" style="width: 100%;">
      <textarea style="height: 400px; overflow-y: scroll" matInput [(ngModel)]="newLinedDescription"></textarea>
    </mat-form-field>
    <button mat-raised-button class="m-1" color="accent" style="color:#fff;" (click)="savePublicDescription()">
      {{ text.get('save_public_description') }}
    </button>
  </div>

  <div *ngIf="editPublicTitle" class="p1">
    <mat-form-field appearance="outline" style="width: 100%;">
      <textarea style="height: 400px; overflow-y: scroll" matInput [(ngModel)]="newLinedTitle"></textarea>
    </mat-form-field>
    <button mat-raised-button class="m-1" color="accent" style="color:#fff;" (click)="savePublicTitle()">
      {{ text.get('save_public_title') }}
    </button>
  </div>

  <!-- End of upper right button section ************************************************-->

  <div class="p-1">
    <table>
      <tr>
        <td *ngIf="!editPublicDescription && publicDescriptionChanged" class="alert alert-primary">
          <div class="highlight">Public description is different.</div>
        </td>
        <td *ngIf="!editpublicTitle && publicTitleChanged" class="alert alert-primary">
          <div class="highlight">Public title is different.</div>
        </td>
      </tr>
    </table>
    <p [innerHTML]="request.description"></p>
  </div>

  <div>
    <hr />
    <h4 class="tab-title styledFont">{{ text.get('request_documents') }}</h4>
    <div *ngIf="requestDocs.length > 0; else noDocs">
      <div class="row mt-4">
        <div *ngFor="let doc of requestDocs" class="col-md-3">
          <div class="docContainer d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <i class="far fa-file fa-3x" style="color:#ccc"></i>
              <p class="extension-label">{{ doc.extension }}</p>
            </div>
            <div>
              <p class="m-0 boldP">{{ doc.title }}</p>
              <p style="font-style: oblique; color:#ccc;">
                {{ doc.createDate | date: 'short' }}
              </p>
            </div>

            <i (click)="download(doc)" class="fas fa-cloud-download-alt fa-2x cloudIcon"></i>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noDocs>
      <p class="slantedText">No Documents to Display</p>
    </ng-template>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <h4 class="tab-title styledFont">
        {{ text.get('about_the_requestor') }}
      </h4>
      <div *ngIf="request.requestor" class="p-2 row">
        <div class="col">
          <!-- Toggle Edit Contact Info Mode Button -->
          <button *ngIf="isIPRAAdmin" (click)="doEditContactInfo()" class="btn btn-primary">
            {{ isEditContactInfo ? text.get('cancel') : text.get('editContactInfo') }}
          </button>

          <!-- Contact Information Form -->
          <form *ngIf="isEditContactInfo; else viewMode" [formGroup]="contactInfoForm" (ngSubmit)="saveContactInfo()">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('preferred_contact') }}*:</label>
              <div class="col-sm-10">
                <mat-select formControlName="primaryContact" class="form-control">
                  <mat-option *ngFor="let option of contactTypeObjects" [value]="option.code">
                    {{ option.value }}
                  </mat-option>
                </mat-select>  
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('email')}}*:</label>
              <div class="col-sm-10">
                <input type="text" formControlName="email" class="form-control" required>
                <div *ngIf="contactInfoForm.get('email').errors?.required && contactInfoForm.get('email').touched" class="text-danger">
                  {{ text.get('field_required') }}
                </div>
                <div *ngIf="contactInfoForm.get('email').errors?.email && contactInfoForm.get('email').touched" class="text-danger">
                  {{ text.get('invalid_input') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Secondary Emails:</label>
              <div class="col-sm-10">
                <input 
                  type="text"  
                  formControlName="secondary_emails" 
                  class="form-control" 
                  placeholder="Enter secondary emails separated by commas"
                >
                <div *ngIf="contactInfoForm.get('secondary_emails').errors?.pattern && contactInfoForm.get('secondary_emails').touched" 
                  class="text-danger">
                  {{ text.get('invalid_input') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('phone')}}*:</label>
              <div class="col-sm-10">
                <input 
                type="text" formControlName="phone" class="form-control" #phoneNumber maxlength="12" (keydown)="onKeyDown($event)" required>
                <div *ngIf="contactInfoForm.get('phone').errors?.required && contactInfoForm.get('phone').touched" class="text-danger">
                  {{ text.get('field_required') }}
                </div>
                <div *ngIf="contactInfoForm.get('phone').errors?.pattern && contactInfoForm.get('phone').touched" class="text-danger">
                  {{ text.get('invalid_input') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('fax')}}:</label>
              <div class="col-sm-10">
                <input type="text" formControlName="fax" class="form-control">
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('address_line_1')}}*:</label>
              <div class="col-sm-10">
                <textarea formControlName="address1" class="form-control" required></textarea>
                <div *ngIf="contactInfoForm.get('address1').errors?.required && contactInfoForm.get('address1').touched" class="text-danger">
                  {{ text.get('field_required') }}
                </div>
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('address_line_2')}}:</label>
              <div class="col-sm-10">
                <textarea formControlName="address2" class="form-control"></textarea>
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('city')}}*:</label>
              <div class="col-sm-10">
                <input type="text" formControlName="city" class="form-control">
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('state') }}*:</label>
              <div class="col-sm-10">
                <mat-select formControlName="state" class="form-control" required>
                  <mat-option *ngFor="let option of stateObjects" [value]="option.name">
                    {{ option.abbreviation }} - {{ option.name }}
                  </mat-option>
                </mat-select>
                <div *ngIf="contactInfoForm.get('state').errors?.required && contactInfoForm.get('state').touched" class="text-danger">
                  {{ text.get('field_required') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{ text.get('zip_code') }}*:</label>
              <div class="col-sm-10">
                <input type="text" formControlName="postalCode" class="form-control" maxlength="5" (keydown)="onKeyDown($event)" required>
                <div *ngIf="contactInfoForm.get('postalCode').errors?.required && contactInfoForm.get('postalCode').touched" class="text-danger">
                  {{ text.get('field_required') }}
                </div>
                <div *ngIf="contactInfoForm.get('postalCode').errors?.pattern && contactInfoForm.get('postalCode').touched" class="text-danger">
                  {{ text.get('invalid_input') }}
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="contactInfoForm.invalid">{{ text.get('save')}}</button>
          </form>
          
          <!-- View Mode Template -->
          <ng-template #viewMode>
            <p><span class="boldP">{{ text.get('name') }}: </span> {{ request.requestor.firstName }} {{ request.requestor.lastName }}</p>
            <p><span class="boldP">{{ text.get('email') }}: </span>{{ request.requestor.contactInfo.email }}</p>
            <p *ngIf="request.requestor.contactInfo.secondary_emails && request.requestor.contactInfo.secondary_emails.length">
              <span class="boldP">secondary Emails: </span>
              <span *ngFor="let email of request.requestor.contactInfo.secondary_emails; let i = index">
                {{ email }}<span *ngIf="i < request.requestor.contactInfo.secondary_emails.length - 1">, </span>
              </span>
            </p>
            <p><span class="boldP">{{ text.get('preferred_contact') }}: </span>{{ request.requestor.primaryContact.value }}</p>
            <p><span class="boldP">{{ text.get('phone') }}: </span> {{ request.requestor.contactInfo.phone }}</p>
            <p><span class="boldP">{{ text.get('fax') }}: </span>{{ request.requestor.contactInfo.fax }}</p>
            <p><span class="boldP">{{ text.get('address') }}: </span><br /> {{ request.requestor.contactInfo.address1 }}<br />
              <span *ngIf="request.requestor.contactInfo.address2 != ''">{{ request.requestor.contactInfo.address2 }}<br /></span>
              {{ request.requestor.contactInfo.city }}, {{ request.requestor.contactInfo.state }} {{ request.requestor.contactInfo.postalCode }}<br />
            </p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col">
      <h4 class="tab-title styledFont">
        {{ text.get('request_information') }}
      </h4>
      <div *ngIf="request" class="p-2 row">
        <div class="p-2 m-2">
          <p *ngIf="isPDM && request.primaryDepartment" class="p-2 warnP">
            You are a Primary Manager on this request.
          </p>
          <p>
            <span class="boldP">{{ text.get('create_date') }}: </span>{{ request.createDate | date: 'mediumDate' }}
          </p>
          <p>
            <span class="boldP">{{ text.get('due_date') }}: </span>{{ request.dueDate | date: 'mediumDate' }}
          </p>
          <p>
            <span class="boldP">{{ text.get('extension_status') }}: </span>{{ request.extensionStatus.value }}
          </p>
          <p>
            <span class="boldP">{{ text.get('passcode') }}: </span>{{ request.passcode }}
          </p>
          <p>
            <span class="boldP">{{ text.get('status') }}: </span>{{ request.status.value }}
          </p>
          <p>
            <span class="boldP">{{ text.get('status_note') }}: </span>{{ request.statusNote }}
          </p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
