.wrapper {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
  margin-top: 115px;
}

.open {
  color: green;
  font-size: 16px;
  vertical-align: 2px;
}

.boldP {
  color: #002d56;
  -webkit-text-stroke: 0.4px #002d56;
}

.warnP {
   background-color: #ef9a9a;
   border: 1px solid #ef5350;
   border-radius: 0.25rem;
}

.toggleLabel-disabled {
  font-size: 20px;
  padding: 5px;
  color: #adadad;
  transition: all 0.2s ease-in-out;
}

.toggleLabel-selected {
  font-size: 20px;
  padding: 5px;
  color: #002d56;
  transition: all 0.2s ease-in-out;
}

.mat-slide-toggle-bar {
  margin: 0 15px;
}

.clickable:hover {
  cursor: pointer;
}
.extension-label {
  background-color: #03a9f4;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 2px;
  position: absolute;
  width: 36px;
  margin-top: -28px;
}
.docContainer {
  background-color: #f9f9f9;
  padding: 10px;
}
.cloudIcon {
  color: #03a9f4;
  transition: all 0.2s ease-in-out;
}
.cloudIcon:hover {
  color: #002d56;
  transition: all 0.2s ease-in-out;
}

.p-text {
  margin-bottom: 1rem;
}

.form-group.row {
  margin-bottom: 15px; 
}

.col-sm-2.col-form-label {
  color: #002d56; 
  font-weight: bold; 
}

.form-control {
  border: 1px solid #002d56; 
  color: #121213; 
}

.btn-primary {
  background-color: #056c9c; 
  border-color: #03a9f4; 
}

.btn-primary:hover {
  background-color: #001a3d; 
  border-color: #001a3d;
}