<div class="dialog-header d-flex align-items-center">
  <div class="ml-4">
    <h4>{{ governmentEntity.name }}</h4>
  </div>
</div>

<mat-dialog-content>
  <mat-tab-group mat-stretch-tabs class="mt-4">
    <mat-tab>
      <ng-template mat-tab-label>
        Information
      </ng-template>
      <form [formGroup]="formGroup">
        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <input #name matInput placeholder="{{ text.get('name') }}" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="p-3 halfWidth">
            <input matInput placeholder="{{ text.get('email') }}" [formControl]="emailControl" />
          </mat-form-field>
        </div>
      </form>
      <hr />
      <div mat-dialog-actions class="d-flex justify-content-end m-1">
        <button (click)="onNoClick()" type="button" mat-raised-button class="cancel mr-2">
          {{ text.get('cancel') }}
        </button>
        <button
          (click)="updateGovernmentEntity()"
          type="button"
          mat-raised-button
          color="accent"
          style="color: #fff;"
        >
          Update Government Entity
        </button>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Delete
      </ng-template>
      <div *ngIf="!popper" class="d-flex justify-content-around m-5 fadeIn">
        <button
          type="button"
          (click)="onOpenPopper()"
          mat-raised-button
          style="color:#fff; background-color:#dd090a;"
        >
          <mat-icon class="mr-1">delete</mat-icon> Delete This Government Entity
        </button>
      </div>
      <div *ngIf="popper" class="popper fadeIn">
        <h2 mat-dialog-title>Confirmation</h2>
        <p>Are you sure?</p>
        <div class="d-flex align-items-end justify-content-end">
          <button type="button" mat-raised-button class="cancel mr-2" (click)="closePopper()">
            {{ text.get('cancel') }}
          </button>
          <button
            (click)="onConfirmPopper()"
            type="button"
            mat-raised-button
            color="primary"
            style="color:#fff"
          >
            Confirm
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
