@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.halfWidth {
  width: 50%;
}
.fullWidth {
  width: 100%;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1px;
  background-color: #2196f3;
}
.mat-dialog-container {
  padding: 0 !important;
}
.dialog-header p {
  line-height: 6px;
  color: #888;
  font-style: oblique;
}
.popper {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: 50%;
  margin: 50px auto;
  padding: 25px;
  transition: all 0.2s ease-in-out;
}
.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}
.mat-dialog-content {
  height: 400px;
  overflow-y: scroll;
}
