<div mat-dialog-content class="m-3 commentBody">
  <h2 style="color: #002D56;">{{ text.get('comments') }}</h2>
  <p class="col-md-6" style="color:#ccc; font-style: oblique">
    {{ text.get('requestor_comments_paragraph_1') }}
  </p>
  <div #messageArea class="message-area p-3">
    <div *ngIf="comments">
      <p *ngIf="comments.length == 0" class="noComments">
        {{ text.get('no_comments_to_show') }}
      </p>
      <div
        [ngClass]="isRequestor(comment) ? 'user-comment' : 'staff-comment'"
        class="col-md-8 m-2"
        *ngFor="let comment of comments"
      >
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="user-avatar">
              {{ comment.commenter.firstName.charAt(0) }}{{ comment.commenter.lastName.charAt(0) }}
            </div>
            <div class="user-name pl-2">
              {{ comment.commenter.firstName }} {{ comment.commenter.lastName }}
            </div>
          </div>
          <div class="instr-date">{{ comment.createDate | date: 'short' }}</div>
        </div>
        <div class="comment-section ml-5">
          {{ comment.message }}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="['OPN', 'CLS', 'DNY'].includes(status.code) && !staff" class="d-flex align-items-end">
  <div class="fullWidth p-3">
    <mat-form-field appearance="outline" class="fullWidth">
      <mat-label>{{ text.get('send_comment') }}</mat-label>
      <textarea matInput [(ngModel)]="newComment"></textarea>
    </mat-form-field>
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="accent" style="color:#fff;" (click)="sendComment()">
        {{ text.get('send') }}

        <mat-icon class="ml-1">send</mat-icon>
      </button>
    </div>
  </div>
</div>
