.noComments {
  text-align: center;
  color: #ccc;
  font-style: oblique;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.commentBody {
  min-height: 500px;
}
.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1px;
}
.user-name {
  color: #002d56;
  font-weight: bold;
}
.instr-date {
  color: #adadad;
  padding-right: 20px;
}
.comment-section {
  padding: 20px;
  border-radius: 4px;
}
.user-comment {
  float: right;
}
.staff-comment {
  float: left;
}
.staff-comment .comment-section {
  background-color: #eee;
}
.staff-comment .user-avatar {
  background-color: #ffc107;
}
.user-comment .comment-section {
  background-color: #43d0e1;
  color: #fff;
}
.user-comment .user-avatar {
  background-color: #002d56;
}
.fullWidth {
  width: 100%;
}
.message-area {
  background-color: #f4f4f4;
  width: 100%;
  height: 500px;
  overflow: scroll;
  border-radius: 10px;
}
