<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened>
      <app-staff-sidebar active="searchRequests"></app-staff-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="p-3">
      <h1 style="color: #002D56">{{ text.get('search_requests') }}</h1>
      <div *ngIf="requests" class="p-2 mt-2">
        <mat-form-field appearance="fill" class="searchBox">
          <div class="d-flex" style="margin-top: -20px;">
            <input
              matInput
              type="search"
              [(ngModel)]="search"
              placeholder="{{text.get('search_keyword')}}"
              autocomplete="off"
              (keyup)="searchChange()"
              (keydown.enter)="sendQuery(1)"
              (blur)="searchChange()"
            />
            <button *ngIf="!search" matSuffix mat-icon-button disabled>
              <i
                class="fas fa-search searchIcon"
                style="font-size: 24px; color:#ccc;"
              ></i>
            </button>
            <button
              *ngIf="search"
              matSuffix
              mat-button
              mat-icon-button
              (click)="clearSearch()"
            >
              <i class="fas fa-times-circle clearIcon"></i>
            </button>
          </div>
        </mat-form-field>
        <button
          class="float-right"
          style="color:#fff;"
          matSuffix
          mat-flat-button
          color="primary"
          (click)="sendQuery(1)"
        >
          {{ text.get('search') }}
        </button>

        <p class="styledFont">Filters</p>

        <div class="row mb-5">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="displayBlock">
              <mat-label>{{text.get('create_date_from')}}: </mat-label>
              <input
                matInput
                [matDatepicker]="createFromDatePicker"
                [(ngModel)]="createFromDate"
                (dateChange)="setFilters()"
                placeholder="Choose a date"
                autocomplete="off"
              />
              <mat-datepicker-toggle
                *ngIf="!createFromDate"
                matSuffix
                [for]="createFromDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #createFromDatePicker></mat-datepicker>
              <mat-icon
                *ngIf="createFromDate"
                (click)="clearCreateFrom()"
                matSuffix
                ><i class="fas fa-times-circle clearIcon"></i
              ></mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="displayBlock">
              <mat-label>{{ text.get('create_date_to') }}: </mat-label>
              <input
                matInput
                [matDatepicker]="createToDatePicker"
                [(ngModel)]="createToDate"
                (dateChange)="setFilters()"
                placeholder="Choose a date"
                autocomplete="off"
              />
              <mat-datepicker-toggle
                *ngIf="!createToDate"
                matSuffix
                [for]="createToDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #createToDatePicker></mat-datepicker>
              <mat-icon *ngIf="createToDate" (click)="clearCreateTo()" matSuffix
                ><i class="fas fa-times-circle clearIcon"></i
              ></mat-icon>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="displayBlock">
              <mat-label>{{ text.get('due_date_from') }}: </mat-label>
              <input
                matInput
                [matDatepicker]="dueFromDatePicker"
                [(ngModel)]="dueFromDate"
                (dateChange)="setFilters()"
                placeholder="Choose a date"
              />
              <mat-datepicker-toggle
                *ngIf="!dueFromDate"
                matSuffix
                [for]="dueFromDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #dueFromDatePicker></mat-datepicker>
              <mat-icon
                *ngIf="dueFromDate"
                (click)="clearDueDateFrom()"
                matSuffix
                ><i class="fas fa-times-circle clearIcon"></i
              ></mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="displayBlock">
              <mat-label>{{ text.get('due_date_to') }}: </mat-label>
              <input
                matInput
                [matDatepicker]="dueToDatePicker"
                [(ngModel)]="dueToDate"
                (dateChange)="setFilters()"
                placeholder="Choose a date"
              />
              <mat-datepicker-toggle
                *ngIf="!dueToDate"
                matSuffix
                [for]="dueToDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #dueToDatePicker></mat-datepicker>
              <mat-icon *ngIf="dueToDate" (click)="clearDueDateTo()" matSuffix
                ><i class="fas fa-times-circle clearIcon"></i
              ></mat-icon>
            </mat-form-field>
          </div>

          <div *ngIf="departments" class="col-md-3">
            <mat-form-field appearance="outline" class="fullWidthInput">
              <mat-label>{{ text.get('department') }}</mat-label>
              <mat-select
                [(value)]="department"
                (selectionChange)="setFilters()"
              >
                <mat-option value="all">{{ text.get('all') }}</mat-option>
                <mat-option value="Unassigned">{{ text.get('unassigned') }}</mat-option>
                <mat-option
                  *ngFor="let dept of departments"
                  value="{{ dept.name }}"
                  >{{ dept.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="fullWidthInput">
              <mat-label>{{ text.get('status') }}</mat-label>
              <mat-select [(ngModel)]="status" (selectionChange)="setFilters()">
                <mat-option>None</mat-option>
                <mat-option value="OPN"
                  ><i
                    class="fas fa-circle statusopen mr-1"
                    style="vertical-align: middle;"
                  ></i
                  >Open</mat-option
                >
                <mat-option value="CLS"
                  ><i
                    class="fas fa-circle statusclosed mr-1"
                    style="vertical-align: middle;"
                  ></i>
                  Closed</mat-option
                >
                <mat-option value="DNY"
                  ><i
                    class="fas fa-circle statusdenied mr-1"
                    style="vertical-align: middle;"
                  ></i
                  >Denied</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <steele-table
          [headers]="headers"
          [rows]="requests"
          (action)="processEvent($event)"
        ></steele-table>
        <div *ngIf="totalPages !== 0" class="d-flex justify-content-end">
          <ul class="pagination">
            <li class="pag-items-per">
              {{ text.get('items') }}: {{ defaultPerPage }}
            </li>
            <li class="pag-range">
              {{ pageStart }} - {{ pageEnd }} {{ text.get('of') }} {{ totalItems }}
            </li>
            <li>
              <button
              class="mat-paginator-navigation-previous mat-icon-button pag-button"
              (click)="sendQuery(currentPage - 1)"
              [disabled]="currentPage === 1"
              aria-label="Previous"
              >
                <span aria-hidden="true"><mat-icon class="pag-button">keyboard_arrow_left</mat-icon></span>
              </button>
            </li>
            <li>
              <button
              class="mat-paginator-navigation-next mat-icon-button pag-button"
              (click)="sendQuery(currentPage + 1)"
              [disabled]="currentPage === totalPages"
              aria-label="Next"
              >
              <span aria-hidden="true"><mat-icon>keyboard_arrow_right</mat-icon></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
