.searchBox {
  width: 100%;
}
.clearIcon {
  color: #ccc;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}
.clearIcon:hover {
  color: #00bcd4;
  transition: all 0.2s ease-in-out;
}
.displayBlock {
  display: block;
}
.fullWidthInput {
  width: 100%;
}

.pag-items-per {
  align-items: baseline;
  margin-right: 8px;
  font-size: 12px;
}

.pag-range {
  align-items: baseline;
  margin: 0 32px 0 24px;
  font-size: 12px;
}

.pag-button {
  > mat-icon {
    font-size: 28px;
  }
}
