.dashcard {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 0;
}
.notifyBtn {
  width: 100%;
  margin: 10px;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.notifyStat {
  float: right;
  font-size: 22px;
}
.notifyBtn i {
  float: left;
}
.sidebar-container {
  height: 100vh;
}
