<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened
      ><app-staff-sidebar active="dash"></app-staff-sidebar
    ></mat-sidenav>
    <mat-sidenav-content class="p-3"
      ><div class="row">
        <div *ngIf="assignmentQueue" class="col assignment-queue dashcard m-3">
          <app-assignment-queue-panel
            [assignmentQueue]="assignmentQueue"
          ></app-assignment-queue-panel>
        </div>
      </div>
      <div *ngIf="isWorker && assignedRequests" class="row">
        <div class="col assignment-queue dashcard m-3">
          <app-assigned-requests-panel
            [assignedRequests]="assignedRequests"
          ></app-assigned-requests-panel>
        </div>
      </div>
      <div class="row">
        <div *ngIf="departmentQueue" class="col assignment-queue dashcard m-3">
          <app-department-queue-panel
            [departmentQueue]="departmentQueue"
            [department]="department"
            [isAdmin]="isAdmin"
          ></app-department-queue-panel>
        </div>
      </div>
      <div class="row">
        <div *ngIf="legalQueue" class="col assignment-queue dashcard m-3">
          <app-legal-queue-panel
            [legalQueue]="legalQueue"
          ></app-legal-queue-panel>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
