<div class="d-flex justify-content-end">
  <button *ngIf="request.status.code === 'OPN'" (click)="openNoteDialog()" mat-raised-button color="accent"
    style="color: #fff;" [disabled]="!isAssignedWorker && !isAdmin">
    <mat-icon class="mr-2">note_add</mat-icon>
    Add Note
  </button>
</div>
<h2 style="color: #002D56;">Notes</h2>
<hr />
<p class="slantedText" *ngIf="request.notes.length == 0">
  {{ text.get('no_notes_to_display') }}
</p>
<div *ngIf="request.notes" class="notes-wrapper">
  <div class="container-fluid instr-container p-1 mb-1" *ngFor="let note of request.notes">
    <div class="item-container d-flex justify-content-between">
      <div class="col">
        <div class="text m-1">
          <span class="instr-title mr-2">{{ text.get('title') }}:</span>
          <span class="text">{{ note.title }}</span>
        </div>
        <div class="text m-1">
          <span class="instr-title mr-2">{{ text.get('message') }}:</span>
          <span class="text" [innerHTML]="note.message"></span>
        </div>
      </div>
      <div class="col ml-auto">
        <div class="text m-1">
          <span class="instr-title mr-2">{{ text.get('release_type') }}:</span>
          <span class="text">{{ note.releaseType.value }}</span>
        </div>
        <div class="instr-date m-1">
          Added {{ note.createDate | date: 'short' }}
          by {{ note.creator.firstName }} {{ note.creator.lastName }}
        </div>
      </div>
      <div class="btn-div">
        <div *ngIf="note.editable && request.status.code === 'OPN'">
          <button mat-raised-button color="accent" (click)="openUpdateNoteDialog(note)">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
<ng-template #noNotes>
  <div class="noNotes">No Notes to Display</div>
</ng-template>
