<div *ngIf="request.primaryDepartment" class="p-4">
  <div>
    <h2 style="color: #002d56">{{ text.get("primary_department") }}</h2>
    <p>{{ primaryDepartmentName }}</p>
  </div>
</div>
<p *ngIf="!this.request.primaryDepartment" style="color: #dd090a">
  {{ text.get("no_primary_department_selected") }}
</p>
<div class="p-4">
  <div>
    <h2 style="color: #002d56">{{ "Secondary Department(s)" }}</h2>
     <steele-table
       [headers]="headers"
       [rows]="rows"
       [pagination]="true"
       [pageSize]="5"
       (action) = "markCompletionStatusDialog($event)"
     ></steele-table>
  </div>
</div>
