.panel-heading {
  background: #4dd0e1;
  background: -webkit-linear-gradient(to left, #03a9f4, #0591d0);
  background: linear-gradient(to left, #03a9f4, #0591d0);
}
.departmentSelectorIcon {
  vertical-align: middle;
  height: 34px;
  width: 34px;
  margin-top: -10px;
}
.deptSelector .mat-select-value-text {
  color: #fff !important;
}
// .not-empty-select.mat-selected {
//   color: #fff !important;
// }

// :host /deep/ .mat-select-value-text {
//   color: #fff !important;
// }
.deptSelector {
  height: 70px;
  margin-top: -28px;
  width: 20%;
  text-align: center;
}
.mat-select-arrow {
  color: #ffc107;
  transform: scale(1.33);
}
::ng-deep .mat-select-arrow {
  color: #ffc107;
  transform: scale(1.33);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #ffc107 !important;
}
