<h4 class="panel-heading">
  <i class="material-icons panelIcon">domain</i>
  <span *ngIf="!isAdmin">{{ department.name }} Queue</span>
  <mat-form-field *ngIf="isAdmin" class="deptSelector">
    <mat-select
      [value]="selectedDepartment"
      style="text-align: center;"
      (selectionChange)="onDepartmentChange($event)"
    >
      <mat-option value="all" style="font-size: 18px;">All</mat-option>
      <mat-option
        style="font-size: 18px;"
        *ngFor="let dept of departments"
        [value]="dept.id"
      >
        {{ dept.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="panel-stat">{{ departmentQueue.length }}</span>
</h4>
<div class="container-fluid">
  <div *ngIf="queueLoaded">
    <steele-table
      [pagination]="true"
      [pageSize]="5"
      [headers]="headers"
      [rows]="departmentQueue"
      (action)="processEvent($event)"
    ></steele-table>
  </div>
</div>
