<div *ngIf="!doneLoading && !errorLoading" class="loading">
  <h3>Loading, please wait...</h3>
  <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
</div>
<div *ngIf="errorLoading" class="loading">
  <h3> Error Loading</h3>
</div>
<div *ngIf="doneLoading">
  <router-outlet></router-outlet>
</div>
