<div class="container-fluid pl-0" style="min-height: 800px;">
  <div class="row">
    <div class="col-sm-2 content-menu mt-3">
      <ul class="list-group">
        <li
          (click)="showTab('documents')"
          [ngClass]="active === 'documents' ? 'list-group-item-active' : 'list-group-item'"
        >
          <mat-icon class="align-middle mr-3 side-icon">insert_drive_file</mat-icon
          >{{ text.get('documents') }}
        </li>
        <li
          (click)="showTab('links')"
          [ngClass]="active === 'links' ? 'list-group-item-active' : 'list-group-item'"
        >
          <mat-icon class="align-middle mr-3 side-icon">link</mat-icon>{{ text.get('links') }}
        </li>
        <li
        (click)="showTab('instructions')"
        [ngClass]="active === 'instructions' ? 'list-group-item-active' : 'list-group-item'"
      >
        <mat-icon class="align-middle mr-3 side-icon">info</mat-icon
        >{{ text.get('instructions') }}
      </li>
      <li
      (click)="showTab('notes')"
      [ngClass]="active === 'notes' ? 'list-group-item-active' : 'list-group-item'"
      >
        <mat-icon class="align-middle mr-3 side-icon">note</mat-icon>Notes
      </li>
      </ul>
    </div>
    <div class="col p-3">
      <div *ngIf="active === 'documents'">
        <app-public-documents [request]="request"></app-public-documents>
      </div>
      <div *ngIf="active === 'links'">
        <app-public-links [request]="request"></app-public-links>
      </div>
      <div *ngIf="active === 'instructions'">
        <app-public-instructions [request]="request"></app-public-instructions>
      </div>
      <div *ngIf="active === 'notes'">
          <app-public-notes [request]="request"></app-public-notes>
        </div>
    </div>
  </div>
</div>
