<h4 class="panel-heading">
  <i class="material-icons panelIcon">assignment</i>
  {{ text.get('assignment_queue') }}
  <span class="panel-stat">{{ assignmentQueue.length }}</span>
</h4>
<div class="container-fluid">
  <!-- <app-request-table [requests]="assignmentQueue"></app-request-table> -->
  <div *ngIf="assignmentQueue">
    <steele-table
      [pagination]="true"
      [pageSize]="5"
      [headers]="headers"
      [rows]="assignmentQueue"
      (action)="processEvent($event)"
    ></steele-table>
  </div>
</div>
