<div class="dash-sidebar">
  <div>
    <ul>
      <li
        (click)="changeRoute('superUser/userManagement')"
        class="sidebar-item"
        [ngClass]="{ 'sidebar-active': active == 'userMgt' }"
      >
        <a>
          <i class="material-icons align-middle mr-2 side-icon">people</i>
          <span
            *ngIf="expandedMenu"
            class="align-middle styledFont sidebar-title"
            >{{ text.get('user_management') }}</span
          >
        </a>
      </li>

      <li
        (click)="changeRoute('superUser/departmentManagement')"
        class="sidebar-item"
        [ngClass]="{ 'sidebar-active': active == 'deptMgt' }"
      >
        <a>
          <i class="material-icons align-middle mr-2 side-icon">domain</i>
          <span
            *ngIf="expandedMenu"
            class="align-middle styledFont sidebar-title"
            >{{ text.get('department_management') }}</span
          >
        </a>
      </li>

      <li
        (click)="changeRoute('superUser/governmentEntitiesManagement')"
        class="sidebar-item"
        [ngClass]="{ 'sidebar-active': active == 'govMgt' }"
      >
        <a>
          <i class="material-icons align-middle mr-2 side-icon"
            >account_balance</i
          >
          <span
            *ngIf="expandedMenu"
            class="align-middle styledFont sidebar-title"
            >{{ text.get('government_entities_management') }}</span
          >
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-div">
    <button
      (click)="setSideMenuToggle()"
      mat-icon-button
      color="warn"
      class="mt-3"
    >
      <i *ngIf="!expandedMenu" class="material-icons align-middle side-icon"
        >navigate_next</i
      >
      <i *ngIf="expandedMenu" class="material-icons align-middle side-icon"
        >navigate_before</i
      >
    </button>
  </div>
</div>
