.open {
  color: green;
  font-size: 16px;
  vertical-align: 2px;
}

.boldP {
  color: #002d56;
  -webkit-text-stroke: 0.4px #002d56;
}

.link {
  text-decoration: underline;
  color: #006fc7;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  cursor: pointer;
  color: #002d56;
  transition: all 0.2s ease-in-out;
}
