<div *ngIf="request" class="p-1 m-3">
  <h5>
    <i class="{{ request.status.value | lowercase }} fas fa-circle mr-2"></i>{{ request.title }} -
    <span class="link" (click)="goToRequest(request.id)">{{ request.id }}</span>
  </h5>
  <p [innerHTML]="request.description"></p>
  <hr />
  <h4 class="tab-title styledFont">{{ text.get('about_the_requestor') }}</h4>
  <div *ngIf="request.requestor" class="p-2 row">
    <div class="col">
      <p>
        <span class="boldP">{{ text.get('name') }}: </span>
        {{ request.requestor.firstName }}
        {{ request.requestor.lastName }}
      </p>
      <p>
        <span class="boldP">{{ text.get('email') }}: </span
        >{{ request.requestor.contactInfo.email }}
      </p>
    </div>
    <div class="col">
      <p>
        <span class="boldP">{{ text.get('phone') }}: </span>
        {{ request.requestor.contactInfo.phone }}
      </p>
      <p>
        <span class="boldP">{{ text.get('fax') }}: </span>{{ request.requestor.contactInfo.fax }}
      </p>
    </div>
    <div class="col">
      <p>
        <span class="boldP">{{ text.get('address') }}: </span><br />
        {{ request.requestor.contactInfo.address1 }}<br />
        <span *ngIf="request.requestor.contactInfo.address2 != ''"
          >{{ request.requestor.contactInfo.address2 }}<br
        /></span>
        {{ request.requestor.contactInfo.city }},
        {{ request.requestor.contactInfo.state }}
        {{ request.requestor.contactInfo.postalCode }}<br />
      </p>
    </div>
  </div>
  <hr />
  <h4 class="tab-title styledFont">{{ text.get('request_information') }}</h4>
  <div class="p-2 m-2 ">
    <p>
      <span class="boldP">{{ text.get('create_date') }}: </span
      >{{ request.createDate | date: 'mediumDate' }}
    </p>
    <p>
      <span class="boldP">{{ text.get('due_date') }}: </span>{{ request.dueDate | date: 'mediumDate' }}
    </p>
    <p>
      <span class="boldP">{{ text.get('status') }}: </span>{{ request.status.value }}
    </p>
  </div>
  <hr />
</div>
