<h1 mat-dialog-title style="color: #002D56;">Deny Release</h1>
<div mat-dialog-content>
  <mat-form-field color="primary" appearance="outline" class="fullWidth">
    <mat-label>Reason for Denial</mat-label>
    <textarea
      matInput
      #reason
      placeholder="Reason"
      style="height: 200px; overflow-y: scroll;"
      [formControl]="reasonControl"
      required
    ></textarea>
    <mat-error *ngIf="reasonControl.hasError('required')"
      >Reason <strong>required</strong></mat-error
    >
  </mat-form-field>
  <hr />
  <div class="d-flex justify-content-end p-2">
    <button mat-raised-button class="cancel mr-2" (click)="onNoClick()">{{ text.get('cancel') }}</button>
    <button
      (click)="denyResource()"
      mat-raised-button
      color="primary"
      style="color: #fff;"
      class="ml-1"
    >
      {{ text.get('ok') }}
    </button>
  </div>
</div>
