.requestBtn {
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 18px;
}

.homeContainer {
  margin-top: 15%;
  background-color: #f9f9f9;
  border: 1.5px solid #e8e8e8;
  padding: 40px;
  border-radius: 4px;
}
.homeContainer p {
  font-size: 18px;
  margin-top: 15px;
}
