<app-header page="home"></app-header>
<div class="container homeContainer">
  <div class="row">
    <div class="col">
      <h1>{{ textService.get('home_heading') }}</h1>
      <div [innerHTML]="textService.get('home_paragraph')"></div>
    </div>
  </div>
  <div class="mt-5" style="text-align: center;">
    <button
      (click)="changeRoute()"
      mat-raised-button
      color="primary"
      class="requestBtn"
    >
      {{ textService.get('create_request') }}
    </button>
  </div>
</div>
