<app-header page="legalReview"></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened
      ><app-staff-sidebar active="legalReview"></app-staff-sidebar
    ></mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid p-3">
        <div *ngIf="resource" class="m-3 p-3 legcard">
          <app-resource-panel [resource]="resource"></app-resource-panel>
        </div>
        <div *ngIf="request" class="m-3 p-3 legcard">
          <h2 class="styledFont">{{ text.get('about_the_request') }}</h2>
          <hr />
          <app-request-info [request]="request"></app-request-info>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
