.sidebar-container {
  height: 100vh;
}
.dashcard {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  height: calc(50vh - 100px);
  border-radius: 4px;
  padding: 0;
}
