<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened>
      <app-super-sidebar active="dash"></app-super-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="p-3">
      <div class="row">
        <div class="col assignment-queue dashcard m-3">
          <app-quick-add-user></app-quick-add-user>
        </div>
      </div>
      <div class="row">
        <div class="col assignment-queue dashcard m-3">
          <app-quick-add-department class="dashcard"></app-quick-add-department>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
