<h4 class="panel-heading">
  <i class="material-icons panelIcon">gavel</i>
  {{ text.get('legal_review') }}
  <span class="panel-stat">{{ legalQueue.length }}</span>
</h4>
<div class="container-fluid">
  <div *ngIf="legalQueue">
    <steele-table
      [pagination]="true"
      [pageSize]="5"
      [headers]="headers"
      [rows]="legalQueue"
      (action)="processEvent($event)"
    ></steele-table>
  </div>
</div>
