<h1 mat-dialog-title style="color: #002D56;">Add Link</h1>
<div mat-dialog-content>

  <p *ngIf="!hasEmail">
    The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method. Please use this method in to provide this link
    to the requestor. <strong> NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
  </p>

  <mat-form-field color="primary" appearance="outline" class="fullWidth">
    <mat-label>{{ text.get('title') }}</mat-label>
    <input matInput #title [formControl]="titleControl" required />
    <mat-error *ngIf="titleControl.hasError('required')">{{ text.get('title') }}<strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field color="primary" appearance="outline" class="fullWidth mt-1">
    <mat-label>Link URL</mat-label>
    <input matInput #link required [formControl]="linkControl" />
    <mat-error *ngIf="linkControl.hasError('required')">Link URL <strong>required</strong></mat-error>
  </mat-form-field>
  <mat-form-field color="primary" appearance="outline" class="fullWidth">
    <mat-label>{{ text.get('description') }}</mat-label>
    <textarea matInput #description placeholder="Optional" style="height: 200px; overflow-y: scroll"></textarea>
  </mat-form-field>
  <mat-form-field class="fullWidth mt-1">
    <mat-label>{{ text.get('release_type') }}</mat-label>
    <mat-select (selectionChange)="updateReleaseType($event)" [formControl]="releaseTypeControl" required>
      <mat-option *ngFor="let releaseType of releaseTypes" [value]="releaseType">{{
        releaseType.value
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="releaseTypeControl.hasError('required')">Please choose Release Type</mat-error>
  </mat-form-field>
  <hr />
</div>
<div mat-dialog-actions class="d-flex justify-content-end p-2 mt-1 ">
  <button (click)="onNoClick()" mat-raised-button class="cancel mr-2">{{ text.get('cancel') }}</button>
  <button (click)="addLink()" mat-raised-button color="primary" style="color: #fff;">
    {{ text.get('ok') }}
  </button>
</div>
