.inputForm {
  text-align: center;
}
.sendCodeLink {
  color: #006ec7;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sendCodeLink:hover {
  color: #03a9f4;
  transition: all 0.2s ease-in-out;
}
