<div class="d-flex justify-content-end">
  <button (click)="onNoClick()" mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <h4 style="color: #ADADAD; text-align: center;">
    An email verification code was previously sent to you
  </h4>
  <p class="styledFont" style="text-align: center; color: #006EC7; font-size: 18px;">
    Enter the code to continue
  </p>
</div>
<hr />
<div class="inputForm">
  <form>
    <mat-form-field appearance="outline" style="width: 50%; text-align: center;">
      <input matInput #passcode type="password" maxlength="10" placeholder="Passcode" />
    </mat-form-field>
  </form>
  <button (click)="onVerify()" mat-raised-button style="color:#fff; width: 50%;" color="primary">
    Verify
  </button>

  <p class="mt-2">
    Didn't Receive the Code?<br />
    <span class="sendCodeLink">Send Code Again</span>
  </p>
</div>
