<div *ngIf="request.primaryDepartment" class="p-4">
  <div>
    <h4 class="tab-title styledFont">
      {{ text.get('assign_primary_department') }}
    </h4>
    <mat-form-field class="inputWidth m-1" appearance="outline" *ngIf="departments">
      <mat-label>{{ text.get('primary_department') }}</mat-label>
      <mat-select
        (selectionChange)="onPrimaryDepartmentChange($event)"
        [formControl]="primaryControl"
        required
      >
        <mat-option *ngFor="let dept of departments" [value]="dept.id">
          {{ dept.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="primaryControl.hasError('required') || !request.primaryDepartment">{{
        text.get('primary_department_required')
      }}</mat-error>
    </mat-form-field>
    <hr />
    <h4 class="tab-title styledFont">
      {{ text.get('assign_secondary_departments') }}
    </h4>
    <p *ngIf="!this.request.primaryDepartment" style="color:#dd090a;">
      {{ text.get('no_primary_department_selected') }}
    </p>
    <app-multi-stack-box-selector
      *ngIf="selectorItems"
      placeholder="{{ text.get('select_department') }}"
      [allSelectableItems]="selectorItems"
      [originalItems]="originalItems"
      [selectedItems]="request.secondaryDepartments"
      [showItemStatus]="true"
      (boxesChange)="onBoxesChange($event)"
      (action) = "markCompletionStatusDialog($event)"
    ></app-multi-stack-box-selector>
  </div>
  <hr />
  <div class="d-flex align-items-end justify-content-end" *ngIf="changesMade">
    <button
      mat-raised-button
      class="m-1"
      color="primary"
      style="color:#fff"
      (click)="submitAssignment()"
    >
      {{ text.get('assign') }}
    </button>
  </div>
</div>
