<div mat-dialog-content *ngIf="selectedReason">
  <h1 mat-dialog-title>Deny Request</h1>

  <div mat-dialog-content>
    <p *ngIf="!hasEmail">
      The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method.
      Please use this method in to provide a letter notifying them of this denial to the requestor
      <strong> NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
    </p>

    <strong>Please select a reason for denying this request:</strong>

    <mat-form-field appearance="outline" class="fullInputWidth">
      <mat-label>Reason for Denial</mat-label>
      <mat-select *ngIf="denyReasons" [(value)]="selectedReason">
        <mat-option *ngFor="let reason of denyReasons" [value]="reason">
          {{ reason.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedReason.code === 'OTH'">
      <mat-form-field color="primary" appearance="outline" class="fullInputWidth">
        <mat-label>{{ text.get('reason') }}</mat-label>
        <textarea matInput #note style="height: 200px; overflow-y: scroll" [formControl]="noteControl"
          required></textarea>
        <mat-error *ngIf="noteControl.hasError('required')">Reason <strong>required</strong></mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="selectedReason.code == 'WGE'">
      <hr />
      <h1 mat-dialog-title>Select government entity</h1>
      <mat-form-field appearance="outline" class="fullInputWidth">
        <mat-label>Select Entity</mat-label>

        <mat-select [(value)]="selectedEntity" (selectionChange)="selectionChange($event)">
          <mat-option *ngFor="let entity of entities" [value]="entity.id">
            {{ entity.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fullInputWidth">
        <mat-label>{{ text.get('name') }}</mat-label>
        <input matInput [formControl]="nameControl" required />
        <mat-error *ngIf="nameControl.hasError('required')">{{
        text.get('please_enter_name')
      }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fullInputWidth">
        <mat-label>{{ text.get('email') }}</mat-label>
        <input matInput [formControl]="emailControl" required />
        <mat-error *ngIf="emailControl.hasError('required')">{{
        text.get('please_enter_email')
      }}</mat-error>
        <mat-error *ngIf="emailControl.hasError('email')">{{
        text.get('invalid_email')
      }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<hr />
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-raised-button class="cancel mr-2" (click)="cancel()">
    {{ text.get('cancel') }}
  </button>
  <button mat-raised-button class="m-1" color="primary" style="color:#fff" (click)="submitDenial()">
    {{ text.get('submit') }}
  </button>
</div>
