.dropzone {
  height: 250px;
  border-radius: 4px;
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.dropzone-ready {
  background-color: #eee;
  border: 2px dashed #ccc;
}
.dropzone-disabled {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
}
.dropzone-disabled .dropzone-i {
  color: #ccc;
}
.dropzone-disabled button {
  color: #ccc !important;
}
.dropzone-disabled .dropzone-title {
  color: #ccc;
}
.dropzone-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzone-i {
  display: block;
  text-align: center;
  font-size: 80px;
  color: #006ec7;
}

.dropzone-title {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: #006ec7;
}
.sub-text {
  color: #888;
  text-align: center;
}
.browse-link {
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.browse-link:hover {
  color: #006ec7;
}
.file-name {
  font-size: 18px;
  margin: 1px;
  line-height: 18px;
  color: #4dd0e1;
}
.file-size {
  font-size: 16px;
  color: #ccc;
}
.file-warning {
  font-size: 16px;
  color: #ffc107;
}
.file-icon {
  font-size: 40px;
  color: #006ec7;
  margin-right: 10px;
}
.confirm-box {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.fullWidth {
  width: 100%;
}
