<h1 mat-dialog-title style="color: #002D56;">{{ text.get('upload_revised_document') }}</h1>
<div mat-dialog-content>
  <div
    *ngIf="!fileData"
    (drop)="onDrop($event)"
    (dragover)="onDrag($event)"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragleave()"
    class="dropzone"
    [ngClass]="dragenter ? 'dropzone-disabled' : 'dropzone-ready'"
  >
    <div class="dropzone-contents">
      <i class="material-icons dropzone-i"> cloud_upload </i>
      <p class="dropzone-title">Drag & Drop</p>
      <div class="sub-text">
        Your files here, or

        <button
          (click)="fileInput.click()"
          type="button"
          mat-stroked-button
          color="accent"
          style="color: #006ec7;"
        >
          Choose File
        </button>
        <input
          (change)="onFileSelected($event.target.files)"
          hidden
          #fileInput
          type="file"
          id="file"
        />
      </div>
    </div>
  </div>

  <div *ngIf="fileData" class="container-fluid">
    <div style="padding: 25px; margin: 30px 10px; background-color: #F9F9F9">
      <div class="d-flex justify-content-start">
        <i class="material-icons file-icon">
          insert_drive_file
        </i>
        <p class="file-name ml-1">
          {{ fileData.name }}
          <br />
          <span class="file-size">{{ fileData.size / 1024 | number: '1.1-2' }}KB</span><br />
          <span class="file-warning" *ngIf="!legalFileSize">File upload limit exceeded</span>
        </p>
      </div>
    </div>
  </div>

  <hr />
  <div class="d-flex justify-content-end p-2">
    <button (click)="onNoClick()" mat-raised-button class="cancel mr-2">{{ text.get('cancel') }}</button>
    <button mat-button *ngIf="!legalFileSize" (click)="clearFiles()" type="button">
      Choose Another File
    </button>
    <button
      *ngIf="fileData"
      (click)="uploadDoc()"
      [disabled]="!legalFileSize"
      mat-raised-button
      color="primary"
      style="color: #fff;"
      class="ml-1"
    >
      {{ text.get('ok') }}
    </button>
  </div>
</div>
