<h4 class="panel-heading">
  <i class="material-icons panelIcon">assignment_turned_in</i>
  Assigned Requests
  <span class="panel-stat">{{ assignedRequests.length }}</span>
</h4>

<div class="container-fluid">
  <div>
    <steele-table
      [pagination]="true"
      [pageSize]="5"
      [headers]="headers"
      [rows]="assignedRequests"
      (action)="processEvent($event)"
    ></steele-table>
  </div>
</div>
