.mat-raised-button {
  vertical-align: -45%;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table-headers {
  border-bottom: 2px solid #17a2b8;
  color: #002d56;
  font-family: "Asap Condensed", sans-serif;
  padding: 5px 15px;
}
.open {
  color: green;
  font-size: 10px;
}
.under_review {
  color: #ffc105;
  font-size: 10px;
}
.closed {
  color: #888;
  font-size: 10px;
}
.denied {
  color: #dd090a;
  font-size: 10px;
}
.descCol {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.htmlDescCol {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-rows {
  max-height: 80px;
  padding: 15px 8px 15px 8px;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 5px;
}
.table-rows div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-rows:hover {
  background-color: #f5f5f5;
  transition: all 0.2s ease-in-out;
}
.requestID {
  color: #002d56;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.requestID:hover {
  transition: all 0.2s ease-in-out;
  color: #17a2b8;
}

.isLink {
  color: #002d56;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.isLink:hover {
  transition: all 0.2s ease-in-out;
  color: #17a2b8;
}

.narrowCol {
  max-width: 150px;
}

.narrowMedCol {
  max-width: 190px;
}

.medCol {
  max-width: 300px;
}

.pointerCursor {
  cursor: pointer;
}

.asc:after{
	content: ' \25B2';
}

.desc:after{
	content: ' \25BC';
}

.asc:hover, .desc:hover {
  text-decoration: underline;
}

.completed {
  background-color: #ddedfc;
}
