<div class="container-fluid pb-2">
  <div class="row">
    <div [ngClass]="calcHeaderClasses(header)" *ngFor="let header of headers">
      <div
      *ngIf="header.isSortable; else elseBlock"
      > {{ text.get(header.name) }}<span class="asc"
      (click)="sendSortEvent(header.sortKey, 'asc')"
      >&nbsp;</span>
      <span class="desc"
      (click)="sendSortEvent(header.sortKey, 'desc')"
      >&nbsp;</span>
    </div>
      <ng-template #elseBlock >{{ text.get(header.name) }}</ng-template>
    </div>
  </div>

  <div
    class="d-flex justify-content-center p-1 mt-2 slantedText"
    *ngIf="rows.length === 0"
  >
    {{ text.get('nothing_to_show') }}
  </div>

  <div [ngClass]="calcRowClasses(row)" *ngFor="let row of displayRows">
    <div [ngClass]="calcItemClasses(header)" *ngFor="let header of headers">
      <div *ngIf="!header.type">
        {{ row[header.key] }}
      </div>

      <div
        *ngIf="header.hasAction"
        style="margin-top: -10px; text-align: center;"
      >
        <div *ngIf="header.type === 'icon' && showIcon(row)">
          <button mat-icon-button (click)="sendEvent(row, header.key)">
            <mat-icon>{{ header.label }}</mat-icon>
          </button>
        </div>

        <div *ngIf="header.type === 'button' && showButton(row)">
          <button mat-raised-button [color]="calcButtonColor(row)" (click)="sendEvent(row, header.key)">
            {{ row[header.key].name }}
          </button>
        </div>
      </div>

      <div *ngIf="header.type === 'date'">
        {{ row[header.key] | date: 'shortDate' }}
      </div>

      <div *ngIf="header.type === 'datetime'">
        {{ row[header.key] | date: 'medium' }}
      </div>

      <div *ngIf="header.type === 'lookup'">
        {{ row[header.key].value }}
      </div>

      <div
        class="isLink"
        *ngIf="header.type === 'link'"
        (click)="sendEvent(row, header.key)"
      >
        {{ row[header.key] }}
      </div>

      <div *ngIf="header.type === 'status'">
        <i
          ngClass="mr-1"
          class="{{ row[header.key].value | lowercase }} fas fa-circle"
        ></i>
        <span *ngIf="header.isBoolean">
          <span *ngIf="row[header.key]">{{ header.isBoolean[0] }}</span>
          <span *ngIf="!row[header.key]">{{ header.isBoolean[1] }}</span>
        </span>
        <span *ngIf="!header.isBoolean">{{
          text.get(getStatusId(row[header.key].value))
        }}</span>
      </div>

      <div *ngIf="header.type === 'text'">
          {{text.get(getStatusId(row[header.key]), row[header.key]) }}
      </div>

      <div *ngIf="header.type === 'html'" [innerHTML]="row[header.key]">
      </div>

    </div>
  </div>
  <mat-paginator
    *ngIf="pagination && rows.length > 0"
    [length]="totalItems"
    [pageSize]="pageSize"
    (page)="onPaginateChange($event)"
  >
  </mat-paginator>
</div>
