<app-header></app-header>
<div class="container-fluid p-0 dash-container">
  <mat-sidenav-container class="side-drawer" autosize>
    <mat-sidenav mode="side" opened>
      <app-super-sidebar active="govMgt"></app-super-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="p-3">
      <div class="d-flex">
        <div class="p-2">
          <h1>{{ text.get('government_entities_management') }}</h1>
        </div>
        <div class="ml-auto p-2">
          <button
            mat-raised-button
            color="primary"
            style="color: #fff;"
            (click)="openCreateGovernmentEntityDialog()"
          >
            <mat-icon class="mr-1">add_circle</mat-icon>
            Add Government Entity
          </button>
        </div>
      </div>
      <div *ngIf="governmentEntities">
        <div
          (click)="openUpdateGovernmentEntityDialog(entity)"
          class="userRow d-flex align-self-center"
          *ngFor="let entity of governmentEntities"
        >
          <div class="col-md-4">
            <p class="m-0 userName">{{ entity.name }}</p>
            <p class="m-0 userEmail">{{ entity.email }}</p>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
