.userRow {
  height: 60px;
  padding: 10px 8px 10px 8px;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  background-color: #f5f5f5;
  margin-bottom: 15px;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1px;
  background-color: #2196f3;
}

.worker {
  background-color: #ffc107;
}

.admin {
  background-color: #2196f3;
}

.manager {
  background-color: #002d56;
}

.userName {
  color: #002d56;
  -webkit-text-stroke: 0.4px #002d56;
}
.userRow:hover {
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
  -webkit-box-shadow: 1px 8px 23px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 23px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 8px 23px -12px rgba(0, 0, 0, 0.75);
}
