<form class="stepper-form">
  <div class="row" [formGroup]="formGroup">
    <mat-form-field class="m-3 halfWidth" appearance="outline">
      <mat-label>Select Create Date</mat-label>

      <input matInput [matDatepicker]="picker" placeholder="Choose a date" required formControlName="createDate"
        [(ngModel)]="createDate" [max]="today" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup.get('createDate').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="m-3 fullInputWidth" appearance="outline">
      <mat-label>{{ text.get('request_title') }}</mat-label>
      <input matInput placeholder="{{ text.get('request_title') }}" formControlName="title" required />
      <mat-error *ngIf="formGroup.get('title').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
    </mat-form-field>

    <div class="m-3 fullInputWidth">
      <p style="font-size: 18px;">{{ text.get('new_request_description_warning_int') }}</p>
    </div>

    <mat-form-field class="m-3 fullInputWidth" appearance="outline">
      <mat-label>{{ text.get('request_description') }}</mat-label>
      <textarea style="height: 400px; overflow-y: scroll" matInput formControlName="description"></textarea>
      <mat-error *ngIf="formGroup.get('description').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
    </mat-form-field>
  </div>
</form>
<hr />
<div style="text-align: right;">
  <button (click)="onNotify()" mat-flat-button color="primary" style="color:#fff;" matStepperNext>
    {{ text.get('next') }}
    <mat-icon class="ml-1">keyboard_arrow_right</mat-icon>
  </button>
</div>
