<div mat-dialog-content class="m-1">
  <h1 mat-dialog-title>{{ text.get('assign_primary_department') }}</h1>

  <mat-form-field class="halfWidth">
    <mat-label>{{ text.get('primary_department') }}</mat-label>
    <mat-select
      (selectionChange)="onPrimaryDepartmentChange($event)"
      [formControl]="primaryControl"
      required
    >
      <mat-option *ngFor="let dept of departments" [value]="dept">
        {{ dept.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="primaryControl.hasError('required') || !request.primaryDepartment">{{
      text.get('primary_department_required')
    }}</mat-error>
  </mat-form-field>
  <hr />
  <h1 mat-dialog-title>{{ text.get('assign_secondary_departments') }}</h1>
  <p *ngIf="!request.primaryDepartment" style="color:#dd090a;">
    {{ text.get('no_primary_department_selected') }}
  </p>
  <app-multi-stack-box-selector
    *ngIf="selectorItems"
    placeholder="{{ text.get('select_department') }}"
    [allSelectableItems]="selectorItems"
    [selectedItems]="request.secondaryDepartments"
    (boxesChange)="onBoxesChange($event)"
  ></app-multi-stack-box-selector>
</div>
<hr />
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-raised-button class="cancel mr-2" (click)="cancel()">
    {{ text.get('cancel') }}
  </button>
  <button
    mat-raised-button
    class="m-1"
    color="primary"
    style="color:#fff"
    (click)="submitAssignment()"
  >
    {{ text.get('assign') }}
  </button>
</div>
