<form class="stepper-form p-2" [formGroup]="formGroup">
  <div class="row p-2">
    <mat-form-field class="p-3 m-1 halfWidth" appearance="outline">
      <mat-label>{{ text.get('first_name') }}</mat-label>
      <input
        matInput
        placeholder="{{ text.get('first_name') }}"
        formControlName="firstName"
        required
      />
      <mat-error *ngIf="formGroup.get('firstName').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="p-3 m-1 halfWidth" appearance="outline">
      <mat-label>{{ text.get('last_name') }}</mat-label>
      <input
        matInput
        placeholder="{{ text.get('last_name') }}"
        formControlName="lastName"
        required
      />
      <mat-error *ngIf="formGroup.get('lastName').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="halfWidth p-3" appearance="outline">
        <mat-label>Preferred Contact Method</mat-label>
        <mat-select
          (selectionChange)="contactChanged($event)"
          placeholder="Preferred Contact Method"
          [(ngModel)]="selectedType"
          formControlName="preferredContact"
          required
        >
          <mat-option *ngFor="let type of contactTypes" [value]="type">
            {{ type.value }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formGroup.get('preferredContact').hasError('required')"
          >{{ text.get('field_required') }}</mat-error
        >
      </mat-form-field>

    <mat-form-field class="fullWidth p-3" appearance="outline">
      <mat-label>{{ text.get('email') }}</mat-label>

      <input
        matInput
        placeholder="{{ text.get('email') }}"
        formControlName="email"
        [required]="selectedType.code === 'EML'"
      />
      <mat-error *ngIf="formGroup.get('email').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
      <mat-error *ngIf="formGroup.get('email').hasError('email')">{{
        text.get('invalid_email')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="p-3 m-1 halfWidth" appearance="outline">
      <mat-label>{{ text.get('phone') }}</mat-label>
      <input
        matInput
        maxlength="12"
        placeholder="{{ text.get('phone') }}"
        formControlName="phone"
        required
        (keydown)="onKeyDownPhone($event)"
      />
      <mat-error *ngIf="formGroup.get('phone').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
      <mat-error *ngIf="formGroup.get('phone').hasError('pattern')">{{
        text.get('invalid_format_phone')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class=" p-3 m-1 halfWidth" appearance="outline">
      <mat-label>{{ text.get('fax') }}</mat-label>
      <input
        matInput
        maxlength="12"
        placeholder="{{ text.get('fax') }}"
        formControlName="fax"
        [required]="selectedType.code === 'FAX'"
        (keydown)="onKeyDownFax($event)"
      />
      <mat-error *ngIf="formGroup.get('fax').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
      <mat-error *ngIf="formGroup.get('fax').hasError('pattern')">{{
        text.get('invalid_format_phone')
      }}</mat-error>
    </mat-form-field>
  </div>
</form>
<hr />
<form class="stepper-form p-2">
  <div class="row p-2" [formGroup]="formGroup">
    <mat-form-field class="fullWidth p-3" appearance="outline">
      <mat-label>{{ text.get('address_line_1') }}</mat-label>
      <input
        matInput
        placeholder="{{ text.get('address_line_1') }}"
        formControlName="address"
        required
      />
      <mat-error *ngIf="formGroup.get('address').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="fullWidth p-3" appearance="outline">
      <mat-label>{{ text.get('address_line_2') }}</mat-label>

      <input
        matInput
        placeholder="{{ text.get('address_line_2') }}"
        formControlName="address2"
      />
    </mat-form-field>

    <mat-form-field class="p-3 m-1 tinyWidth" appearance="outline">
      <mat-label>{{ text.get('city') }}</mat-label>
      <input matInput placeholder="City" formControlName="city" required />
      <mat-error *ngIf="formGroup.get('city').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="p-3 tinyWidth" appearance="outline">
        <mat-label>{{ text.get('state') }}</mat-label>
        <mat-select
          formControlName="state"
        >
          <mat-option
            *ngFor="let option of stateObjects"
            [value]="option.name"
          >
            {{ option.abbreviation }} - {{ option.name }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="tinyWidth p-3" appearance="outline">
      <mat-label>{{ text.get('zip_code') }}</mat-label>

      <input
        matInput
        placeholder="Zip Code"
        maxlength="5"
        formControlName="zip"
        required
      />
      <mat-error *ngIf="formGroup.get('zip').hasError('required')">{{
        text.get('field_required')
      }}</mat-error>
      <mat-error *ngIf="formGroup.get('zip').hasError('pattern')">{{
        text.get('invalid_format')
      }}</mat-error>
      <mat-hint align="end"
        >{{ formGroup.get('zip').value.length }} / 5</mat-hint
      >
    </mat-form-field>


  </div>
</form>
<hr />
<div style="text-align: right;">
  <button
    mat-flat-button
    class="mr-2"
    color="warn"
    style="color:#fff;"
    matStepperPrevious
  >
    <mat-icon class="ml-1">keyboard_arrow_left</mat-icon>
    {{ text.get('back') }}
  </button>
  <button
    (click)="onNotify()"
    mat-flat-button
    color="primary"
    matStepperNext
    style="color:#fff;"
  >
    {{ text.get('next') }}
    <mat-icon class="ml-1">keyboard_arrow_right</mat-icon>
  </button>
</div>
