<div *ngIf="closeReasons && selectedReason">
  <h1 mat-dialog-title>Close Request</h1>

  <div mat-dialog-content>
    <p *ngIf="!hasEmail">
      The requestor has chosen <em>{{ request.requestor.primaryContact.value }}</em> as their preferred contact method.
      Please use this method in to provide any content uploaded and a letter notifying them of this closing to the requestor.
      <strong> NO EMAILS WILL BE SENT TO THE REQUESTOR.</strong>
    </p>

    <strong>Please select a reason for closing this request:</strong>


    <mat-select [(value)]="selectedReason">
      <mat-option *ngFor="let reason of closeReasons" [value]="reason">
        {{ reason.value }}
      </mat-option>
    </mat-select>

    <div *ngIf="selectedReason.code == 'OTH'">
      <mat-form-field color="primary" appearance="outline" class="fullWidth">
        <mat-label>{{ text.get('reason') }}</mat-label>
        <textarea matInput #note style="height: 200px; overflow-y: scroll" [formControl]="noteControl"
          required></textarea>
        <mat-error *ngIf="noteControl.hasError('required')">Reason <strong>required</strong></mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button mat-raised-button class="cancel mr-2" (click)="cancel()">
        {{ text.get('cancel') }}
      </button>
      <button mat-raised-button class="m-1" color="primary" style="color:#fff" (click)="closeRequest()">
        {{ text.get('submit') }}
      </button>
    </div>
  </div>
</div>
