.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1px;
  background-color: #ffc107;
}
.dateField {
  color: #adadad;
  padding-right: 20px;
}
.user-name {
  color: #002d56;
  font-weight: bold;
}
.comment-section {
  padding: 20px;
  border-radius: 4px;
}
.alert-text {
  padding: 12px 10px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  max-height: 128px;
  color: #333;
  margin-bottom: 10px;
}
