<div mat-dialog-content class="m-3 commentBody">
  <h2 style="color: #002D56;">Alerts</h2>
  <p class="col-md-6 mb-3" style="color:#646464; font-style: oblique">
    You will see any special instructions meant for you here.
  </p>
  <p
    *ngIf="request.alerts.length == 0"
    style="text-align: center;"
    class="slantedText mt-4 p-2"
  >
    No Alerts
  </p>
  <div *ngIf="request.alerts" class="col-md-8 m-1 mt-4">
    <div *ngFor="let alert of request.alerts" class="p-1 mb-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <div class="user-avatar">
            {{ alert.sender.firstName.charAt(0)
            }}{{ alert.sender.lastName.charAt(0) }}
          </div>
          <div class="user-name pl-2">
            {{ alert.sender.firstName }} {{ alert.sender.lastName }}
          </div>
        </div>
        <div class="dateField">{{ alert.createDate | date: 'short' }}</div>
      </div>
      <div class="alert-message ml-5">
        {{ alert.message }}
      </div>
      <hr />
    </div>
  </div>
</div>
